/*!
	Author: Gardner Design | Shane Schroll
	Author URL: https://gardnerdesign.com
	Theme Name: TOP Theme
	Description: Modular blocks for TOP.
	Version: 1.1.1
	Text Domain: mod
*/
body a, body p, body span, body address, body table, body td,
body small, body time, body ol, body ul, body li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #757575;
  line-height: 1.5;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}
body a, body p, body ul, body ol, body span {
  font-size: 1rem;
  line-height: 1.7;
}
body a {
  text-decoration: none;
  transition: 0.1s ease-out;
}
body a:hover {
  transition: 0.1s ease-out;
  text-decoration: none;
}
body p {
  margin-top: 0;
  margin-bottom: 1.15rem;
}
body ul {
  margin-top: 0;
}
body ul li {
  font-size: 1rem;
  color: #424242;
  margin-bottom: 0.5rem;
}
body table tr th {
  font-size: 1rem;
  padding: 0.2rem;
}
body table tr td {
  font-size: 0.9375rem;
  padding: 0.2rem;
}
body small {
  font-size: 0.875rem;
  font-style: italic;
}
body time {
  display: block;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}
body h1, body h2, body h3,
body h4, body h5, body h6, body .h4 {
  display: block;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #3E3E3E;
}
body h1:not(:last-child), body h2:not(:last-child), body h3:not(:last-child),
body h4:not(:last-child), body h5:not(:last-child), body h6:not(:last-child), body .h4:not(:last-child) {
  margin-bottom: 1rem;
}
body h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  body h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1023px) {
  body h1 {
    font-size: 3rem;
  }
}
body h2 {
  font-size: 1.75rem;
}
@media (min-width: 480px) {
  body h2 {
    font-size: 1.875rem;
  }
}
@media (min-width: 768px) {
  body h2 {
    font-size: 2.25rem;
  }
}
body h3 {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  body h3 {
    font-size: 1.75rem;
  }
}
body h4, body .h4 {
  font-size: 1.25rem;
  font-weight: 700;
}
body h5 {
  font-size: 1rem;
}
body h6 {
  font-size: 0.9375rem;
}
body .has-grey-color {
  color: #757575;
}
body .has-grey-background-color {
  background-color: #757575;
}
body .has-red-color {
  color: #DE3F49;
}
body .has-red-background-color {
  background-color: #DE3F49;
}
body .has-green-color {
  color: #8AAD46;
}
body .has-green-background-color {
  background-color: #8AAD46;
}
body .has-blue-color {
  color: #5C86C0;
}
body .has-blue-background-color {
  background-color: #5C86C0;
}
body .has-yellow-color {
  color: #F9BF3E;
}
body .has-yellow-background-color {
  background-color: #F9BF3E;
}
body .has-orange-color {
  color: #F89E29;
}
body .has-orange-background-color {
  background-color: #F89E29;
}
body .has-teal-color {
  color: #87B7B4;
}
body .has-teal-background-color {
  background-color: #87B7B4;
}
body .has-cream-color {
  color: #F6F1E7;
}
body .has-cream-background-color {
  background-color: #F6F1E7;
}
body .has-dark-grey-color {
  color: #424242;
}
body .has-dark-grey-background-color {
  background-color: #424242;
}
body .editor-button-block__pill-button:not(.has-text-color) {
  color: #fff;
}
body .editor-button-block__pill-button:not(.has-text-color):hover {
  color: #fff;
}
body .editor-button-block__pill-button:not(.has-background) {
  background-color: #5C86C0;
}
body .editor-button-block__pill-button:not(.has-background):hover {
  background-color: #335583;
}
body .editor-button-block__pill-button.has-grey-color:hover {
  color: #757575;
}
body .editor-button-block__pill-button.has-grey-background-color {
  background-color: #424242;
}
body .editor-button-block__pill-button.has-red-color:hover {
  color: #DE3F49;
}
body .editor-button-block__pill-button.has-red-background-color {
  background-color: #9c1b23;
}
body .editor-button-block__pill-button.has-green-color:hover {
  color: #8AAD46;
}
body .editor-button-block__pill-button.has-green-background-color {
  background-color: #506429;
}
body .editor-button-block__pill-button.has-blue-color:hover {
  color: #5C86C0;
}
body .editor-button-block__pill-button.has-blue-background-color {
  background-color: #335583;
}
body .editor-button-block__pill-button.has-yellow-color:hover {
  color: #F9BF3E;
}
body .editor-button-block__pill-button.has-yellow-background-color {
  background-color: #cb8e06;
}
body .editor-button-block__pill-button.has-orange-color:hover {
  color: #F89E29;
}
body .editor-button-block__pill-button.has-orange-background-color {
  background-color: #b56906;
}
body .editor-button-block__pill-button.has-teal-color:hover {
  color: #87B7B4;
}
body .editor-button-block__pill-button.has-teal-background-color {
  background-color: #518784;
}
body .editor-button-block__pill-button.has-cream-color:hover {
  color: #F6F1E7;
}
body .editor-button-block__pill-button.has-cream-background-color {
  background-color: #dac69d;
}
body .editor-button-block__pill-button.has-dark-grey-color:hover {
  color: #424242;
}
body .editor-button-block__pill-button.has-dark-grey-background-color {
  background-color: #0f0f0f;
}
body .editor-button-block, body .editor-button-block__blue-pill-button, body .editor-button-block__red-pill-button, body .editor-button-block__yellow-pill-button, body .editor-button-block__white-teal-pill-button, body .editor-button-block__white-orange-pill-button, body .editor-button-block__orange-pill-button, body .editor-button-block__teal-pill-button, body .editor-button-block__pill-button {
  display: inline-block;
  margin-bottom: 2.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
}
body .editor-button-block__blue-pill-button, body .editor-button-block__red-pill-button, body .editor-button-block__yellow-pill-button, body .editor-button-block__white-teal-pill-button, body .editor-button-block__white-orange-pill-button, body .editor-button-block__orange-pill-button, body .editor-button-block__teal-pill-button, body .editor-button-block__pill-button {
  border-radius: 1.4rem;
  padding: 0.65rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}
@media (min-width: 480px) {
  body .editor-button-block__blue-pill-button, body .editor-button-block__red-pill-button, body .editor-button-block__yellow-pill-button, body .editor-button-block__white-teal-pill-button, body .editor-button-block__white-orange-pill-button, body .editor-button-block__orange-pill-button, body .editor-button-block__teal-pill-button, body .editor-button-block__pill-button {
    font-size: 1rem;
    padding: 0.75rem 2rem;
    letter-spacing: 2px;
  }
}
body .editor-button-block__blue-pill-button {
  color: #fff;
  background-color: #5C86C0;
}
body .editor-button-block__blue-pill-button:hover {
  background-color: #F9BF3E;
}
body .editor-button-block__red-pill-button {
  color: #fff;
  background-color: #DE3F49;
}
body .editor-button-block__red-pill-button:hover {
  background-color: #8AAD46;
}
body .editor-button-block__yellow-pill-button {
  color: #fff;
  background-color: #F9BF3E;
}
body .editor-button-block__yellow-pill-button:hover {
  background-color: #5C86C0;
}
body .editor-button-block__orange-pill-button {
  color: #fff;
  background-color: #F89E29;
}
body .editor-button-block__orange-pill-button:hover {
  background-color: #F9BF3E;
}
body .editor-button-block__teal-pill-button {
  color: #fff;
  background-color: #87B7B4;
}
body .editor-button-block__teal-pill-button:hover {
  background-color: #4f7573;
}
body .editor-button-block__white-teal-pill-button {
  color: #87B7B4;
  background-color: #fff;
}
body .editor-button-block__white-teal-pill-button:hover {
  color: #fff;
  background-color: #87B7B4;
}
body .editor-button-block__white-orange-pill-button {
  color: #F89E29;
  background-color: #fff;
}
body .editor-button-block__white-orange-pill-button:hover {
  color: #fff;
  background-color: #F89E29;
}
body .standard-dropdown-container {
  max-width: 73rem;
  margin: 0 auto;
}
body .standard-dropdown-container .dropdown-block-title {
  display: block;
  position: relative;
  padding-top: 1rem;
  color: #3E3E3E;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-left: 2rem;
}
body .standard-dropdown-container .dropdown-block-title:hover {
  cursor: pointer;
}
body .standard-dropdown-container .dropdown-block-title:before {
  display: inline-block;
  content: "+";
  position: absolute;
  top: 0.8rem;
  left: 0;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: FontAwesome;
  transition: 0.3s ease-out;
}
body .standard-dropdown-container .remove-border {
  transition: 0.1s ease-in;
}
body .standard-dropdown-container .chevron-rotate:before {
  transform: rotate(45deg);
}
body .standard-dropdown-container + .standard-dropdown-container {
  border-top: 1px solid #e5e5e5;
}
body .testimonial-block {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: 0 -50vw;
  background-color: #F6F1E7;
  padding: 1rem 1.875rem 2rem;
}
@media (min-width: 768px) {
  body .testimonial-block {
    padding: 5rem 0;
  }
}
body .testimonial-block svg {
  position: absolute;
}
body .testimonial-block svg#butterfly-outline {
  right: -5rem;
  max-width: 30rem;
  stroke: #fff;
}
body .testimonial-block svg#butterfly {
  display: none;
  left: 4rem;
  bottom: 3.5rem;
  max-width: 20rem;
}
@media (min-width: 1180px) {
  body .testimonial-block svg#butterfly {
    display: block;
  }
}
body .testimonial-block .review .review-text {
  position: relative;
  z-index: 5;
  padding: 3rem 0;
  font-size: 1.4rem;
  color: #DE3F49;
  letter-spacing: 1px;
  max-width: 62rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
}
@media (min-width: 480px) {
  body .testimonial-block .review .review-text {
    padding: 3rem 1rem;
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  body .testimonial-block .review .review-text {
    background-image: url("./static/images/quotes.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
body .testimonial-block .review .review-split {
  position: relative;
  max-width: 38rem;
  margin: 1rem auto 0;
  z-index: 5;
  text-align: center;
}
body .testimonial-block .review .review-split p {
  font-weight: 700;
}
body .fifty-fifty, body .fifty-fifty-star {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: 0 -50vw;
  overflow: hidden;
  background-color: #F9BF3E;
}
body .fifty-fifty__information, body .fifty-fifty-star__information {
  position: relative;
  padding: 3rem 1.875rem;
  z-index: 2;
  width: 100%;
  background-color: #F9BF3E;
  text-align: center;
}
@media (min-width: 768px) {
  body .fifty-fifty__information, body .fifty-fifty-star__information {
    padding: 5rem 1rem;
  }
}
@media (min-width: 980px) {
  body .fifty-fifty__information, body .fifty-fifty-star__information {
    width: 50%;
    margin-right: auto;
  }
}
body .fifty-fifty__information h2, body .fifty-fifty-star__information h2 {
  max-width: 25rem;
  margin: 0 auto 2rem !important;
  font-size: 3rem;
  color: #424242;
}
@media (min-width: 768px) {
  body .fifty-fifty__information h2, body .fifty-fifty-star__information h2 {
    font-size: 3.75rem;
  }
}
body .fifty-fifty__information p, body .fifty-fifty-star__information p {
  color: #424242;
  max-width: 31rem;
  margin: 0 auto 2rem;
}
body .fifty-fifty__information .editor-button-block__white-teal-pill-button, body .fifty-fifty-star__information .editor-button-block__white-teal-pill-button {
  margin-bottom: 0;
}
body .fifty-fifty__image, body .fifty-fifty-star__image {
  position: relative;
  width: 100%;
  padding: 7rem 1.875rem;
  text-align: center;
  background-color: #87B7B4;
  min-height: 50vh;
}
@media (min-width: 980px) {
  body .fifty-fifty__image, body .fifty-fifty-star__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
}
body .fifty-fifty__image svg, body .fifty-fifty-star__image svg {
  display: block;
  max-width: 75rem;
  width: 105%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
body .fifty-fifty__image img, body .fifty-fifty-star__image img {
  position: relative;
  z-index: 10;
  max-width: 30rem;
  width: 100%;
}
@media (min-width: 980px) {
  body .fifty-fifty__image img, body .fifty-fifty-star__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
body .fifty-fifty-star__information {
  background-color: #87B7B4;
}
@media (min-width: 980px) {
  body .fifty-fifty-star__information {
    width: 50%;
    margin-left: auto;
    margin-right: unset;
  }
}
body .fifty-fifty-star__image {
  background-color: #F9BF3E;
}
@media (min-width: 980px) {
  body .fifty-fifty-star__image {
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    width: 50%;
    height: 100%;
  }
}
body .fifty-fifty-star__image svg {
  position: absolute;
  display: block;
  top: 50%;
  right: unset;
  bottom: unset;
  left: -14rem;
  transform: translateY(-50%);
  width: 68rem;
  z-index: 1;
}
@media (min-width: 980px) {
  body .fifty-fifty-star__image svg {
    left: -5rem;
    width: 80rem;
  }
}
@media (min-width: 2600px) {
  body .fifty-fifty-star__image svg {
    left: -1rem;
  }
}
body .grid-wrap {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 0 -50vw;
}
body .grid-boxes {
  display: flex;
  max-width: 75rem;
  margin: 3rem auto 2rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
body .grid-boxes__item {
  width: 15rem;
  text-align: center;
  padding: 1rem;
}
body .grid-boxes__item .point-header, body .grid-boxes__item .point-text {
  display: block;
}
body .grid-boxes__item .point-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #F89E29;
  margin-bottom: 0.75rem;
}
body .grid-boxes__item .point-text {
  font-size: 1rem;
  margin-bottom: 0;
}
body .funnels {
  max-width: 100%;
  padding: 3.5rem 2rem 4rem;
  margin: 0 auto;
  background-color: #F6F1E7;
}
body .funnels h1, body .funnels h2, body .funnels h3 {
  color: #DE3F49;
}
body .funnels h2 {
  max-width: 25rem;
  margin: 0 auto;
}
body .funnels p {
  color: #757575;
}
body .funnels .editor-button-block__red-pill-button {
  margin-bottom: 0;
}
body .funnels--one {
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;
}
body .funnels--two, body .funnels--three, body .funnels--four {
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  body .funnels--two, body .funnels--three, body .funnels--four {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
body .funnels--two .double-funnel, body .funnels--three .double-funnel, body .funnels--four .double-funnel {
  width: 50%;
  text-align: center;
}
body .funnels--two .triple-funnel, body .funnels--three .triple-funnel, body .funnels--four .triple-funnel {
  width: 33.3333%;
  text-align: center;
}
body .funnels--two .quad-funnel, body .funnels--three .quad-funnel, body .funnels--four .quad-funnel {
  width: 25%;
  text-align: center;
}
@media (max-width: 48.0625em) {
  body .funnels--two .double-funnel,
body .funnels--two .triple-funnel,
body .funnels--two .quad-funnel, body .funnels--three .double-funnel,
body .funnels--three .triple-funnel,
body .funnels--three .quad-funnel, body .funnels--four .double-funnel,
body .funnels--four .triple-funnel,
body .funnels--four .quad-funnel {
    width: 100%;
    margin-bottom: 5rem;
  }
  body .funnels--two .double-funnel:last-of-type,
body .funnels--two .triple-funnel:last-of-type,
body .funnels--two .quad-funnel:last-of-type, body .funnels--three .double-funnel:last-of-type,
body .funnels--three .triple-funnel:last-of-type,
body .funnels--three .quad-funnel:last-of-type, body .funnels--four .double-funnel:last-of-type,
body .funnels--four .triple-funnel:last-of-type,
body .funnels--four .quad-funnel:last-of-type {
    margin-bottom: 0;
  }
}