@charset "UTF-8";
/*!
	Author: Gardner Design | Shane Schroll
	Author URL: https://gardnerdesign.com
	Theme Name: TOP Theme
	Description: Modular theme and blocks for TOP.
	Version: 1.1.0
	Text Domain: mod
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
	========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
	========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

::placeholder {
  color: #3E3E3E;
  opacity: 0.7;
}

a, p, span, address, table, td,
small, time, ol, ul, li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #757575;
  line-height: 1.5;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}

a, p, ul, ol, span {
  font-size: 1rem;
  line-height: 1.7;
}

a {
  text-decoration: none;
  transition: 0.1s ease-out;
}
a:hover {
  transition: 0.1s ease-out;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1.15rem;
}

ul {
  margin-top: 0;
}
ul li {
  font-size: 1rem;
  color: #424242;
  margin-bottom: 0.5rem;
}

table tr th {
  font-size: 1rem;
  padding: 0.2rem;
}

table tr td {
  font-size: 0.9375rem;
  padding: 0.2rem;
}

small {
  font-size: 0.875rem;
  font-style: italic;
}

time {
  display: block;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

h1, h2, h3,
h4, h5, h6, .h4 {
  display: block;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #3E3E3E;
}
h1:not(:last-child), h2:not(:last-child), h3:not(:last-child),
h4:not(:last-child), h5:not(:last-child), h6:not(:last-child), .h4:not(:last-child) {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1023px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.75rem;
}
@media (min-width: 480px) {
  h2 {
    font-size: 1.875rem;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9375rem;
}

.main-post-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.content-block {
  max-width: 42rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
}
.content-block ul li {
  font-weight: 500;
  color: #757575;
}
.content-block p a, .content-block li a, .content-block table a {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.small-header {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #424242;
  text-align: center;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.plain-link {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.plain-link:hover {
  text-decoration: underline;
}

button {
  background: unset;
  border: unset;
}
button:hover {
  cursor: pointer;
}

.wp-block-embed__wrapper {
  text-align: center;
}
.wp-block-embed__wrapper iframe {
  max-width: 40rem;
  width: 100%;
  height: 20rem;
}
@media (min-width: 768px) {
  .wp-block-embed__wrapper iframe {
    height: 22.5rem;
  }
}

.fadeout {
  opacity: 0;
}

.fadein {
  opacity: 1;
  transition: opacity 0.75s;
}

.adjust-top {
  position: relative !important;
  padding: 1rem 0 !important;
}

.adjust-wrap {
  position: unset !important;
}

.chevron-rotate:after {
  transform: rotate(180deg) !important;
  transition: 0.2s ease-out;
}

.close-notice {
  color: #fff;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.light-black {
  color: #3E3E3E;
}

.center {
  text-align: center;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.yellow {
  color: #F9BF3E;
}

.orange {
  color: #F89E29;
}

.green {
  color: #8AAD46;
}

.blue {
  color: #5C86C0;
}

#menu-toggle {
  position: relative;
  display: inline-block;
  z-index: 101;
}
#menu-toggle:hover {
  cursor: pointer;
}
#menu-toggle:hover .x-bar {
  background-color: #4776B8;
}
#menu-toggle .x-bar {
  position: relative;
  display: block;
  top: 0.2rem;
  height: 4px;
  margin-bottom: 6px;
  background-color: #5C86C0;
  transition: 0.2s ease-out;
  border-radius: 2px;
  width: 2rem;
}
#menu-toggle .x-bar-active {
  position: relative;
  transition: 0.2s ease-out;
  margin-bottom: 0;
  height: 5px;
}
#menu-toggle .x-bar-active:nth-child(3n+1) {
  top: 0.35rem;
  transform: rotate(-180deg) rotate(45deg);
  background-color: #5C86C0;
}
#menu-toggle .x-bar-active:nth-child(3n+2) {
  opacity: 0;
}
#menu-toggle .x-bar-active:nth-child(3n+3) {
  top: -0.27rem;
  left: -1px;
  transform: rotate(180deg) rotate(-45deg);
  margin-bottom: 0;
  background-color: #5C86C0;
}

#menu-toggle {
  display: none;
}

.nav-wrapper {
  position: relative;
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-wrapper ul li {
  margin-bottom: 0;
}

.logo-container .desktop-only {
  display: none;
}
@media (min-width: 960px) {
  .logo-container .desktop-only {
    display: block;
  }
}
.logo-container .desktop-only svg {
  max-width: 14rem;
  width: 100%;
}
.logo-container .mobile-only {
  display: block;
}
@media (min-width: 960px) {
  .logo-container .mobile-only {
    display: none;
  }
}
.logo-container .mobile-only svg {
  max-width: 3.5rem;
  width: 100%;
}

@media (min-width: 60em) {
  .contact-bar {
    position: relative;
    left: 59%;
    margin-bottom: 0.75rem;
    color: #F89E29;
    font-weight: bold;
  }
  .contact-bar a {
    color: #F89E29;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .contact-bar a:first-of-type {
    margin-right: 0.5rem;
  }
  .contact-bar a:last-of-type {
    margin-left: 0.5rem;
  }

  .mobile-nav-wrapper {
    display: none;
  }

  .nav-container .menu {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 35rem;
  }
  .nav-container .menu .current-menu-item > a {
    color: #F89E29;
  }
  .nav-container .menu .menu-item-has-children {
    position: relative;
  }
  .nav-container .menu .menu-item-has-children .sub-menu {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.1s ease-out;
    width: 11rem;
    padding: 2rem;
    z-index: 90;
    text-align: center;
    box-shadow: 0 0 5px -4px #3E3E3E;
    border-radius: 5px;
  }
  .nav-container .menu .menu-item-has-children:hover .sub-menu {
    opacity: 1;
    transition: opacity 0.1s ease-out;
  }
  .nav-container .menu .menu-item-has-children:hover .sub-menu li {
    margin-bottom: 1.5rem;
  }
  .nav-container .menu .menu-item-has-children:hover .sub-menu li:last-of-type {
    margin-bottom: 0;
  }
  .nav-container .menu .menu-item-has-children:hover .sub-menu a {
    font-weight: 600;
  }
  .nav-container .menu a {
    font-size: 1.1rem;
  }
  .nav-container .menu a:hover {
    color: #F89E29;
  }
}
@media (max-width: 60em) {
  .logo-container {
    position: fixed;
    top: 1.5rem;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    align-items: center;
    z-index: 200;
    background-color: #F6F1E7;
    padding: 0.5rem 2.1rem 0.2rem 2.1rem;
  }
}
@media (max-width: 60em) and (min-width: 768px) {
  .logo-container {
    left: 0;
    padding: 1rem 2.1rem 1rem 1rem;
  }
}
@media (max-width: 60em) {
  .nav-container {
    display: none;
  }
}
@media (max-width: 60em) {
  #menu-toggle {
    display: block;
  }
}
@media (max-width: 60em) {
  .mobile-nav-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    text-align: left;
    z-index: 100;
    background-color: #F6F1E7;
    transition: transform 0.3s ease-in;
    overflow: scroll;
  }
  .mobile-nav-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .mobile-nav-wrapper ul li {
    margin-bottom: 0;
  }
  .mobile-nav-wrapper .mobile-nav-container {
    margin-top: 7.5rem;
    margin-left: 1.75rem;
    overflow-x: hidden;
  }
  .mobile-nav-wrapper li:not(.sub-menu li) {
    margin-bottom: 1.5rem;
  }
  .mobile-nav-wrapper li:not(.sub-menu li) ul {
    position: relative;
    margin-top: 1.25rem;
    min-height: 0;
  }
  .mobile-nav-wrapper a {
    display: inline-block;
    color: #DE3F49;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 100%;
    letter-spacing: 1px;
  }
  .mobile-nav-wrapper .menu-item-has-children {
    position: relative;
  }
  .mobile-nav-wrapper .menu-item-has-children > a {
    position: relative;
    width: 100%;
  }
  .mobile-nav-wrapper .menu-item-has-children > a:after {
    content: "";
    position: absolute;
    top: 0.75rem;
    right: 2.6rem;
    font-family: FontAwesome;
    font-size: 1rem;
    color: #DE3F49;
    font-weight: bold;
    transition: 0.2s ease-out;
    transform: rotate(0);
  }
  .mobile-nav-wrapper .menu-item-has-children > a:hover {
    cursor: pointer;
  }
  .mobile-nav-wrapper .menu-item-has-children > .sub-menu {
    position: relative;
    bottom: 0.5rem;
    left: 0.5rem;
  }
  .mobile-nav-wrapper .menu-item-has-children > .sub-menu li {
    padding-bottom: 1rem;
  }
  .mobile-nav-wrapper .menu-item-has-children > .sub-menu li:last-of-type {
    padding-bottom: 0;
  }
  .mobile-nav-wrapper .menu-item-has-children > .sub-menu a {
    font-weight: 600;
    font-size: 1.1rem;
  }
}
@media (max-width: 60em) {
  .sub-menu {
    display: none;
  }
}
@media (max-width: 60em) {
  .mobile-nav-open {
    display: block;
    transform: translateX(0);
    transition: transform 0.3s ease-in;
  }
  .mobile-nav-open .editor-button-block__red-pill-button {
    max-width: 14rem;
    margin-bottom: 1.4rem;
  }
  .mobile-nav-open #footer-menu li {
    margin-bottom: 0.5rem;
  }
  .mobile-nav-open #footer-menu li a {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
.duo-tone-bar {
  position: fixed;
  z-index: 250;
  width: 100%;
  padding: 0.75rem;
  background: linear-gradient(to right, #F9BF3E 50%, #87B7B4 50%);
}
@media (min-width: 961px) {
  .duo-tone-bar {
    position: relative;
  }
}

.header {
  position: relative;
  max-width: 100%;
  margin: 3rem auto 1.5rem;
  background-color: #F6F1E7;
  padding: 0 2rem 0;
}
@media (min-width: 768px) {
  .header {
    padding: 1rem 1rem 0;
  }
}
@media (min-width: 960px) {
  .header {
    margin: 0 auto 1.5rem;
  }
}
.header__content {
  display: flex;
  position: relative;
  max-width: 75rem;
  margin: 2rem auto 0;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 1023px) {
  .header__content {
    justify-content: space-between;
    flex-direction: row;
  }
}
.header__content .header-text, .header__content div {
  width: 100%;
}
@media (min-width: 1023px) {
  .header__content .header-text, .header__content div {
    width: 50%;
  }
}
.header__content span {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #F89E29;
  text-align: left;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header__content .header-text {
  position: relative;
  top: -1.5rem;
  margin-top: 1.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #F89E29;
}
@media (min-width: 1023px) {
  .header__content .header-text {
    max-width: 35rem;
    font-size: 4rem;
  }
}
.header__content div {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
}
@media (min-width: 1023px) {
  .header__content div {
    height: 25rem;
  }
}
.header__content div svg#cloud-white {
  position: absolute;
  right: -3rem;
  bottom: -1px;
  max-width: 15rem;
}
@media (min-width: 768px) {
  .header__content div svg#cloud-white {
    max-width: 25rem;
  }
}
.header__content div svg#cloud-one {
  position: absolute;
  bottom: 6rem;
  left: -6rem;
  max-width: 20rem;
}
@media (min-width: 768px) {
  .header__content div svg#cloud-one {
    max-width: 20rem;
  }
}
.header__content div svg#cloud-dot {
  position: absolute;
  top: 0;
  right: 3rem;
  max-width: 20rem;
}
@media (min-width: 768px) {
  .header__content div svg#cloud-dot {
    top: -6rem;
    right: 7rem;
    max-width: 25rem;
  }
}
.header__content--no-image {
  display: block;
  max-width: 50rem;
  margin: 3rem auto;
}
.header__content--no-image span {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #F89E29;
  text-align: center;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header__content--no-image .header-text {
  margin-top: 1.5rem;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #F89E29;
  text-align: center;
}
@media (min-width: 768px) {
  .header__content--no-image .header-text {
    font-size: 4rem;
  }
}
@media (min-width: 1023px) {
  .header__content--no-image .header-text {
    font-size: 4rem;
    margin-top: 0;
  }
}

.home-header .header__content {
  display: block;
  padding: 12rem 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-header .header__content svg#cloud-white {
  position: absolute;
  right: -3rem;
  bottom: -1px;
  max-width: 20rem;
}
@media (min-width: 768px) {
  .home-header .header__content svg#cloud-white {
    max-width: 40rem;
  }
}
.home-header .header__content svg#cloud-one {
  position: absolute;
  bottom: 6rem;
  left: -6rem;
  max-width: 20rem;
}
@media (min-width: 768px) {
  .home-header .header__content svg#cloud-one {
    max-width: 30rem;
  }
}
.home-header .header__content svg#cloud-dot {
  position: absolute;
  top: 0;
  right: 3rem;
  max-width: 20rem;
}
@media (min-width: 768px) {
  .home-header .header__content svg#cloud-dot {
    top: -6rem;
    right: 7rem;
    max-width: 25rem;
  }
}

.site-footer {
  position: relative;
  background-color: #8AAD46;
  max-width: 100%;
  margin: 0 auto;
  padding: 5rem 1rem;
  overflow: hidden;
}
.site-footer .h4, .site-footer p, .site-footer a, .site-footer span {
  color: #fff;
}
.site-footer a:hover {
  color: #3E3E3E;
}
.site-footer p, .site-footer a, .site-footer span:not(.h4) {
  line-height: 1.5;
  font-weight: 600;
}
.site-footer .half-top {
  display: inline-block;
  font-size: 0.9rem;
  margin-top: 1.25rem;
  text-transform: uppercase;
}
.site-footer .h4 {
  position: relative;
}
@media (max-width: 43.75em) {
  .site-footer .h4:after {
    display: inline-block;
    content: "";
    position: relative;
    top: 0;
    right: -1rem;
    font-family: FontAwesome;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    transform: rotate(0);
    transition: 0.2s ease-out;
  }
}
.site-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav {
  display: flex;
  max-width: 55rem;
  margin: 0 auto 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 484px) {
  .footer-nav {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 7rem;
  }
}
.footer-nav #footer-menu {
  display: flex;
  max-width: 30rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 484px) {
  .footer-nav #footer-menu {
    margin-right: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
.footer-nav #footer-menu li {
  margin-bottom: 1rem;
}
@media (min-width: 484px) {
  .footer-nav #footer-menu li {
    margin-bottom: 0;
  }
}
.footer-nav #footer-menu a {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.5rem;
}

.footer-locations {
  display: flex;
  max-width: 55rem;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 700px) {
  .footer-locations {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }
}
.footer-locations .location {
  margin-bottom: 2.5rem;
}
.footer-locations .location:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 700px) {
  .footer-locations .location {
    margin-bottom: 0;
  }
}

.mobile-flowers {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}
.mobile-flowers svg {
  position: relative;
  max-width: 6rem;
  bottom: -5.25rem;
}
@media (min-width: 1260px) {
  .mobile-flowers {
    display: none;
  }
}

.desktop-flowers {
  display: none;
}
@media (min-width: 1260px) {
  .desktop-flowers {
    display: block;
  }
}
.desktop-flowers svg#sunflower {
  position: absolute;
  left: 1.5rem;
  bottom: -3rem;
  max-width: 10rem;
}
@media (min-width: 1400px) {
  .desktop-flowers svg#sunflower {
    max-width: 14rem;
  }
}
.desktop-flowers svg#red-flower {
  position: absolute;
  right: 1.5rem;
  bottom: 0;
  max-width: 7rem;
}
@media (min-width: 1400px) {
  .desktop-flowers svg#red-flower {
    max-width: 10rem;
  }
}

.cta-block {
  display: flex;
  max-width: 77rem;
  padding: 1rem 1.875rem 0;
  margin: 2rem auto 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .cta-block {
    padding: 1rem 1rem 0;
    margin: 4rem auto 0;
  }
}
@media (min-width: 980px) {
  .cta-block {
    flex-direction: row;
    justify-content: space-between;
  }
}
.cta-block h1 {
  font-size: 3.75rem;
  max-width: 43rem;
  margin-bottom: 1.75rem;
}
@media (min-width: 768px) {
  .cta-block h1 {
    font-size: 4rem;
  }
}
@media (min-width: 980px) {
  .cta-block h1 {
    margin-bottom: 0;
  }
}
@media (min-width: 1023px) {
  .cta-block h1 {
    font-size: 4.5rem;
  }
}
.cta-block p {
  color: #757575;
  max-width: 42.5rem;
  margin-bottom: 1.75rem;
}
@media (min-width: 980px) {
  .cta-block p {
    max-width: 40rem;
  }
}
.cta-block .editor-button-block__blue-pill-button {
  margin-bottom: 0;
}

.svg-images {
  position: relative;
  max-width: 100%;
  margin: 0 auto 15rem;
}
.svg-images__balloons {
  position: relative;
  max-width: 75rem;
  padding: 1rem 1rem 0;
  margin: 1rem auto 18rem;
}
@media (min-width: 768px) {
  .svg-images__balloons {
    margin: 1rem auto 0;
  }
}
.svg-images__balloons svg#blue-balloon {
  max-width: 6.5rem;
  top: 5rem;
  right: 25%;
  z-index: 10;
}
@media (min-width: 480px) {
  .svg-images__balloons svg#blue-balloon {
    top: 2.5rem;
    right: 4rem;
  }
}
.svg-images__balloons svg#red-balloon {
  max-width: 4rem;
  top: 4rem;
  right: 70%;
  transform: translateX(50%);
  z-index: 10;
}
@media (min-width: 480px) {
  .svg-images__balloons svg#red-balloon {
    top: 1rem;
    right: 12rem;
    transform: none;
  }
}
.svg-images svg {
  position: absolute;
  display: block;
}
.svg-images svg#tan-cloud {
  display: none;
  top: 2rem;
  left: 0;
  max-width: 40rem;
}
@media (min-width: 480px) {
  .svg-images svg#tan-cloud {
    display: block;
  }
}

.tour-block {
  position: relative;
  max-width: 75rem;
  padding: 1rem 1.875rem;
  margin: 3rem auto 2rem;
}
@media (min-width: 768px) {
  .tour-block {
    padding: 1rem;
  }
}
.tour-block__head {
  position: relative;
  max-width: 100%;
}
.tour-block__head svg#red-bird {
  display: none;
  position: absolute;
  left: 0;
  max-width: 8rem;
}
@media (min-width: 960px) {
  .tour-block__head svg#red-bird {
    display: block;
  }
}
.tour-block__head h2 {
  position: relative;
  z-index: 3;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .tour-block__head h2 {
    font-size: 4rem;
  }
}
.tour-block__head svg#cloud-dot {
  position: absolute;
  top: -6.5rem;
  right: -6rem;
  max-width: 30rem;
  z-index: 1;
}
.tour-block__head svg#cloud-dot circle.cls-3 {
  fill: #F6F1E7 !important;
}
.tour-block__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75rem;
  margin: 2rem auto 0;
}
@media (min-width: 768px) {
  .tour-block__content {
    margin: 5rem auto 0;
  }
}
@media (min-width: 990px) {
  .tour-block__content {
    justify-content: space-between;
    flex-direction: row;
  }
}
.tour-block__content img {
  max-width: 38rem;
  width: 100%;
  margin-bottom: 1.15rem;
}
@media (min-width: 990px) {
  .tour-block__content img {
    margin-bottom: 0;
  }
}
.tour-block__content .right-text {
  position: relative;
}
@media (min-width: 990px) {
  .tour-block__content .right-text {
    margin-left: 1rem;
  }
}
.tour-block__content .right-text p {
  color: #757575;
  max-width: 38rem;
}
@media (min-width: 990px) {
  .tour-block__content .right-text p {
    max-width: 30rem;
  }
}
.tour-block__content .right-text svg#blue-bird {
  display: none;
  position: absolute;
  bottom: 1rem;
  right: -3rem;
  max-width: 15rem;
}
@media (min-width: 1056px) {
  .tour-block__content .right-text svg#blue-bird {
    display: block;
  }
}
@media (min-width: 1056px) {
  .tour-block__content .right-text a {
    margin-top: 4rem;
    margin-left: 2.5rem;
  }
}

.cost-help-boxes {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #F9BF3E;
}
.cost-help-boxes__information {
  position: relative;
  padding: 3rem 1.875rem;
  z-index: 2;
  width: 100%;
  background-color: #F9BF3E;
  text-align: center;
}
@media (min-width: 768px) {
  .cost-help-boxes__information {
    padding: 7rem 1rem;
  }
}
@media (min-width: 980px) {
  .cost-help-boxes__information {
    width: 50%;
    margin-right: auto;
  }
}
.cost-help-boxes__information h2 {
  max-width: 25rem;
  margin: 0 auto 2rem !important;
  font-size: 3rem;
  color: #424242;
}
@media (min-width: 768px) {
  .cost-help-boxes__information h2 {
    font-size: 3.75rem;
  }
}
.cost-help-boxes__information p {
  color: #424242;
  max-width: 31rem;
  margin: 0 auto 2rem;
}
.cost-help-boxes__information .editor-button-block__white-teal-pill-button {
  margin-bottom: 0;
}
.cost-help-boxes__right-image {
  position: relative;
  width: 100%;
  padding: 7rem 1.875rem;
  text-align: center;
  background-color: #87B7B4;
  min-height: 50vh;
}
@media (min-width: 980px) {
  .cost-help-boxes__right-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
}
.cost-help-boxes__right-image svg {
  display: block;
  max-width: 75rem;
  width: 105%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.cost-help-boxes__right-image img {
  position: relative;
  z-index: 10;
  max-width: 22rem;
  width: 100%;
}
@media (min-width: 980px) {
  .cost-help-boxes__right-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.testimonials {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  background-color: #F6F1E7;
  padding: 1rem 1.875rem 2rem;
}
@media (min-width: 768px) {
  .testimonials {
    padding: 5rem 0;
  }
}
.testimonials svg {
  position: absolute;
}
.testimonials svg#butterfly-outline {
  right: -5rem;
  max-width: 30rem;
  stroke: #fff;
}
.testimonials svg#butterfly {
  display: none;
  left: 4rem;
  bottom: 3.5rem;
  max-width: 20rem;
}
@media (min-width: 1180px) {
  .testimonials svg#butterfly {
    display: block;
  }
}
.testimonials .review .review-text {
  position: relative;
  z-index: 5;
  padding: 3rem 0;
  font-size: 1.4rem;
  color: #DE3F49;
  letter-spacing: 1px;
  max-width: 62rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
}
@media (min-width: 480px) {
  .testimonials .review .review-text {
    padding: 3rem 1rem;
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .testimonials .review .review-text {
    background-image: url("./static/images/quotes.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.testimonials .review .review-split {
  position: relative;
  max-width: 38rem;
  margin: 1rem auto 0;
  z-index: 5;
  text-align: center;
}
.testimonials .review .review-split p {
  font-weight: 700;
}

.community-block {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  max-width: 75rem;
  margin: 5rem auto 9rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1000px) {
  .community-block {
    flex-direction: row;
    justify-content: space-between;
  }
}
.community-block .community-images {
  position: relative;
  width: 100%;
  padding: 0 2.15rem;
}
@media (min-width: 1000px) {
  .community-block .community-images {
    width: 50%;
  }
}
.community-block .community-images .vertical {
  height: 30rem;
}
.community-block .community-images .horizontal {
  position: absolute;
  max-width: 22rem;
  left: 16rem;
  bottom: -3rem;
  padding: 0;
}
.community-block .community-images .horizontal img {
  max-width: 18rem;
  height: auto;
  display: block;
}
.community-block .community-images .horizontal:after, .community-block .community-images .horizontal:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 5px dotted #F89E29;
  border-bottom: 5px dotted #F89E29;
  box-sizing: border-box;
  transform: translate(-20px, 20px);
}
.community-block .community-images .horizontal:after {
  top: 0px;
  left: 10px;
  right: 0px;
  bottom: 10px;
}
.community-block .community-text {
  text-align: center;
  padding: 0 2.15rem;
  width: 100%;
  margin-bottom: 3rem;
}
@media (min-width: 1000px) {
  .community-block .community-text {
    width: 50%;
    margin-bottom: 0;
  }
}
.community-block .community-text h2 {
  max-width: 30rem;
  text-align: center;
  font-size: 3rem;
  margin: 0 auto 2rem;
}
@media (min-width: 768px) {
  .community-block .community-text h2 {
    font-size: 4rem;
  }
}
.community-block .community-text p {
  max-width: 25rem;
  margin: 0 auto 2rem;
}
.community-block .community-text .editor-button-block__yellow-pill-button {
  margin-bottom: 0;
}

.success-block {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 980px) {
  .success-block {
    flex-direction: row;
    justify-content: center;
    align-items: initial;
  }
}
.success-block__left {
  position: relative;
  width: 100%;
  background-color: #F9BF3E;
  overflow: hidden;
  height: 32rem;
}
@media (min-width: 980px) {
  .success-block__left {
    width: 50%;
    height: unset;
  }
}
.success-block__left svg {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: -14rem;
  width: 68rem;
}
@media (min-width: 980px) {
  .success-block__left svg {
    left: -5rem;
    width: 80rem;
  }
}
@media (min-width: 2600px) {
  .success-block__left svg {
    left: -1rem;
  }
}
.success-block__left img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
  width: 100%;
  padding: 0 1rem;
  z-index: 10;
}
@media (min-width: 980px) {
  .success-block__left img {
    padding: unset;
  }
}
.success-block__right {
  position: relative;
  width: 100%;
  background-color: #87B7B4;
  padding: 3rem;
}
@media (min-width: 768px) {
  .success-block__right {
    padding: 8rem 3rem;
  }
}
@media (min-width: 980px) {
  .success-block__right {
    width: 50%;
  }
}
.success-block__right h2 {
  max-width: 33rem;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .success-block__right h2 {
    font-size: 3.75rem;
  }
}
.success-block__right p {
  color: #fff;
  max-width: 25rem;
  margin: 3rem auto;
}
.success-block__right a {
  display: block;
}

.intro-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 50rem;
  padding: 4rem 2rem 0;
}
@media (min-width: 961px) {
  .intro-text {
    padding: 4rem 1rem 0;
  }
}

.locations {
  max-width: 100%;
  margin: 0 auto;
  padding: 6rem 2rem;
  background-color: #FFC629;
}
@media (min-width: 768px) {
  .locations {
    padding: 6rem 1rem;
  }
}
.locations__grid {
  display: grid;
  max-width: 77rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 24rem));
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
}
.locations .grid-item {
  background-color: #fff;
  padding: 2rem;
  text-align: center;
}
.locations .grid-item h2, .locations .grid-item p, .locations .grid-item img {
  text-align: left;
}
.locations .grid-item h2 {
  color: #DE3F49;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.locations .grid-item p {
  font-family: "Montserrat", sans-serif;
}
.locations .grid-item img {
  display: block;
  margin: 0 auto 1.5rem;
  width: 20rem;
  max-height: 12rem;
}
.locations .grid-item .fa-facebook {
  font-size: 2rem;
  color: #5C86C0;
}
.locations .grid-item .fa-facebook:hover {
  color: #F9BF3E;
}

.gform_wrapper {
  font-family: "Montserrat", sans-serif;
  max-width: 45rem;
}
.gform_wrapper label, .gform_wrapper legend {
  color: #3E3E3E;
}
.gform_wrapper input, .gform_wrapper textarea {
  border: 2px solid #87B7B4;
  border-radius: 5px;
  padding: 3px 8px;
}
@media (min-width: 642px) {
  .gform_wrapper input, .gform_wrapper textarea {
    padding: 8px;
  }
}
.gform_wrapper select {
  border: 2px solid #87B7B4;
  border-radius: 5px;
  background-color: #fff;
}
.gform_wrapper option {
  background-color: #fff;
}
@media (max-width: 40em) {
  .gform_wrapper .gfield_list_group {
    border: 1px solid #5C86C0;
    border-radius: 5px;
  }
}
.gform_wrapper .gfield_required.gfield_required_text {
  display: none;
}
.gform_wrapper .gform_button {
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  background-color: #518784;
  color: #fff;
  border: unset;
  border-radius: 25px;
  transition: 0.2s ease-out;
  line-height: 1.15;
}
.gform_wrapper .gform_button:hover {
  cursor: pointer;
  background-color: #416ca8;
  transition: 0.2s ease-out;
}

.schedule-tour {
  max-width: 50rem;
  margin: 3rem auto;
}

.contact-form {
  max-width: 50rem;
  margin: 0 auto;
}
.contact-form #crmform {
  max-width: 40rem;
  margin: 0 auto;
  border: unset;
}

.social-icon-component {
  display: flex;
}
.social-icon-component .icon {
  max-width: 4.5rem;
  width: 100%;
}
.social-icon-component .icon:last-of-type {
  width: unset;
}
.social-icon-component .icon .fab {
  max-width: 3.25rem;
  width: 100%;
  color: #fff;
  font-size: 2.25rem;
}
.social-icon-component .icon .fab:hover {
  color: #3E3E3E;
}

.notice-box {
  position: absolute;
  z-index: 1000;
  bottom: 2rem;
  right: 0;
  max-width: 20rem;
  background-color: #F9BF3E;
  border-bottom-left-radius: 35px;
}
.notice-box p, .notice-box a {
  color: #fff;
}
.notice-box p, .notice-box a {
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}
.notice-box p {
  font-size: 1.75rem;
  margin-bottom: 0;
}
.notice-box a {
  display: inline-block;
  width: 20rem;
  font-size: 1.25rem;
  background-color: #F89E29;
  border-bottom-left-radius: 35px;
}
.notice-box a:hover {
  background-color: #4776B8;
}
.notice-box a:after {
  position: relative;
  top: 0.1rem;
  left: 1rem;
  content: "";
  font-family: FontAwesome;
  font-size: 1.5rem;
  font-weight: 800;
}

.notice-banner {
  position: absolute;
  top: 0;
  background-color: #5C86C0;
  padding: 1rem;
  max-width: 100%;
  z-index: 251;
}
@media (min-width: 961px) {
  .notice-banner {
    position: relative;
  }
}
.notice-banner p {
  color: #fff;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 2rem;
}
/*# sourceMappingURL=style.css.map */