{# Block Name: 50/50 Full Width #}
{% if fields.choose_background_for_images == 'rainbow' %}
	{# Rainbow Background #}
	<section class="fifty-fifty">
		<div class="fifty-fifty__information">
			<div>
				{% if fields.small_header %}
					<span class="small-header">{{ fields.small_header }}</span>
				{% endif %}
				<h2>{{ fields.fifty_header }}</h2>
				<p>{{ fields.fifty_info_text }}</p>
				{% if fields.fifty_button_link.url %}
					<a class="editor-button-block__white-teal-pill-button" href="{{ fields.fifty_button_link.url }}">{{ fields.fifty_button_text }}</a>
				{% endif %}
			</div>
		</div>
		<div class="fifty-fifty__image">
			{% include './static/images/full_arc.svg' %}
			<img src="{{ TimberImage( fields.fifty_image ).src }}" alt="{{ TimberImage( fields.fifty_image ).alt }}" />
		</div>
	</section>

{% elseif fields.choose_background_for_images == 'star' %}
	{# Star Background #}
	<section class="fifty-fifty-star">
		<div class="fifty-fifty-star__image">
			{% include './static/images/star-background.svg' %}
			<img src="{{ TimberImage( fields.fifty_image ).src }}" alt="{{ TimberImage( fields.fifty_image ).alt }}" />
		</div>
		<div class="fifty-fifty-star__information">
			<div>
				{% if fields.small_header %}
					<span class="small-header">{{ fields.small_header }}</span>
				{% endif %}
				<h2>{{ fields.fifty_header }}</h2>
				<p>{{ fields.fifty_info_text }}</p>
				{% if fields.fifty_button_link.url %}
					<a class="editor-button-block__white-orange-pill-button" href="{{ fields.fifty_button_link.url }}">{{ fields.fifty_button_text }}</a>
				{% endif %}
			</div>
		</div>
	</section>
{% else %}
	{# 'None' option selected or no radio option selected #}
	<section class="fifty-fifty">
		<div class="fifty-fifty__information">
			<div>
				{% if fields.small_header %}
					<span class="small-header">{{ fields.small_header }}</span>
				{% endif %}
				<h2>{{ post.ch_left_header }}</h2>
				<p>{{ post.left_information_text }}</p>
				{% if fields.fifty_button_link.url %}
					<a class="editor-button-block__white-teal-pill-button" href="{{ post.ch_button_link }}">{{ post.ch_button_text }}</a>
				{% endif %}
			</div>
		</div>
		<div class="fifty-fifty__image">
			<img src="{{ TimberImage( post.ch_right_image ).src }}" alt="{{ TimberImage( post.ch_right_image ).alt }}" />
		</div>
	</section>
{% endif %}