{# Block Name: Statistic Grid #}

<section class="grid-wrap">
	<div class="grid-boxes">
		{% for point in fields.statistics_grid %}
			{% if point.button_link %}
				<a class="grid-boxes__item" href="{{ point.button_link }}">
					<span class="point-header">{{ point.statistic_header }}</span>
					<span class="point-text">{{ point.statistic_name }}</span>
				</a>
			{% else %}
				<div class="grid-boxes__item">
					<span class="point-header">{{ point.statistic_header }}</span>
					<span class="point-text">{{ point.statistic_name }}</span>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</section>