{# Block Name: Full Width Testimonial Block #}
<section class="testimonial-block">
	{% include './static/images/butterfly-outline.svg' %}
	<div class="review">
		<p class="review-text">{{ fields.review_text }}</p>
		<div class="review-split">
			{% if fields.reviewer_name or t.reviewers_position %}
				<div class="review-title">
					<p>{{ fields.reviewer_name }} &nbsp;&nbsp;|&nbsp;&nbsp; {{ fields.reviewers_position }}</p>
				</div>
			{% endif %}
		</div>
	</div>
	{% include './static/images/butterfly.svg' %}
</section>