.notice-box {
	position: absolute;
	z-index: 1000;
	bottom: 2rem;
	right: 0;
	max-width: 20rem;
	background-color: $yellow;
	border-bottom-left-radius: 35px;

	// close-notice button styles in [_utilities.scss]

	p, a { color: $white; }

	p, a {
		padding: 2rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: 800;
		letter-spacing: 2px;
	}

	p {
		font-size: 1.75rem;
		margin-bottom: 0;
	}

	a {
		display: inline-block;
		width: 20rem;
		font-size: 1.25rem;
		background-color: $orange;
		border-bottom-left-radius: 35px;
		&:hover { background-color: $alt-blue; }

		&:after {
			position: relative;
			top: 0.1rem;
			left: 1rem;
			content: '\f35a';
			font-family: FontAwesome;
			font-size: 1.5rem;
			font-weight: 800;
		}
	}
}