.notice-banner {
	position: absolute;
	top: 0;
	background-color: $blue;
	padding: 1rem;
	max-width: 100%;
	z-index: 251;
	@include bp(961px) { position: relative; }

	// close button - styles in [_utilities.scss]

	p {
		color: $white;
		margin-bottom: 0;
		font-size: 1rem;
		font-weight: bold;
		margin-right: 2rem;
	}
}