.social-icon-component {
	display: flex;

	.icon {
		max-width: 4.5rem;
		width: 100%;
		&:last-of-type { width: unset; }

		.fab {
			max-width: 3.25rem; // 1rem larger than the icon for spacing
			width: 100%;
			color: $white;
			font-size: 2.25rem;
			&:hover { color: $light-black; }
		}
	}
}