// mobile menu toggle X
#menu-toggle {
	position: relative;
	display: inline-block;
	z-index: 101;

	&:hover {
		cursor: pointer;
		.x-bar { background-color: $alt-blue; }
	}

	.x-bar {
		position: relative;
		display: block;
		top: 0.2rem;
		height: 4px;
		margin-bottom: 6px;
		background-color: $blue;
		transition: 0.2s ease-out;
		border-radius: 2px;
		width: 2rem;
	}

	.x-bar-active {
		position: relative;
		transition: 0.2s ease-out;
		margin-bottom: 0;
		height: 5px;

		&:nth-child(3n+1) {
			top: 0.35rem;
			transform: rotate(-180deg) rotate(45deg); // flip left
			background-color: $blue;
		}

		// hide this one
		&:nth-child(3n+2) {
			opacity: 0;
		}

		&:nth-child(3n+3) {
			top: -0.27rem;
			left: -1px;
			transform: rotate(180deg) rotate(-45deg); // flip right
			margin-bottom: 0;
			background-color: $blue;
		}
	}
} // end [#menu-toggle]