{% extends 'base.twig' %}

{% block content %}
<section class="content-block">
	{{ post.content }}
</section>

<section class="locations">
	<div class="locations__grid">
		{% for loc in locations %}
			<div class="grid-item">
				<h2>{{ loc.title }}</h2>
				<img src="{{ TimberImage( loc.thumbnail ).src }}" alt="{{ TimberImage( loc.thumbnail ).alt }}" />
				<div>{{ loc.get_field('location_summary') }}</div>
				<a href="{{ loc.location_link }}" target="_blank" rel="noopener">
					<span class="fab fa-facebook"></span>
				</a>
			</div>
		{% endfor %}
	</div>
</section>
{% endblock %}