<!DOCTYPE html>
<html class="" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ options.google_search_description }}">
		<title>{{ post.title }} - {{ site.name }}</title>
		{{ function('wp_head') }}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet"> 
	</head>

	<body data-template="base.twig" class="{{ body_class }}">

		{% if options.enable_notice_banner %}
			<div class="notice-banner">
				<button class="close-notice">&times;</button>
				<p>{{ options.notice_text }}</p>
			</div>
		{% endif %}

		<div class="duo-tone-bar"></div>
		<header class="header {% if is_front_page %} home-header {% endif %}">
			{% include 'navigation.twig' %}
			{% if post.thumbnail.src and is_front_page %}
				<div class="header__content" style="background-image: url('{{ post.thumbnail.src }}');">
					{% include './static/images/cloud_1.svg' %}
					{% include './static/images/cloud_dotted.svg' %}
					{% include './static/images/cloud-white.svg' %}
				</div>
			{% elseif post.thumbnail.src %}
				<div class="header__content">
					<h1 class="header-text">
						<span class="page-title">{{ post.title }}</span>
						{{ post.header_text }}
					</h1>
					<div style="background-image: url('{{ post.thumbnail.src }}');">
						{% include './static/images/cloud_1.svg' %}
						{% include './static/images/cloud_dotted.svg' %}
						{% include './static/images/cloud-white.svg' %}
					</div>
				</div>
			{% elseif not post.thumbnail.src %}
				<div class="header__content--no-image">
					<span class="page-title">{{ post.title }}</span>
					<h1 class="header-text">{{ post.header_text }}</h1>
				</div>
			{% endif %}
		</header>

		<section class="main-post-wrapper" role="main">
			{% block content %}{% endblock %}
		</section>

		{# located in general options #}
		{% if options.enable_notice_box and is_front_page %}
			<div class="notice-box">
				<button class="close-notice">&times;</button>
				<p>{{ options.notice_message }}</p>
				<a class="" href="{{ options.notice_link }}">{{ options.notice_link_text }}</a>
			</div>
		{% endif %}

		{% if post.enable_funnel %}
			{% include 'funnels.twig' %}
		{% endif %}

		{% include 'footer.twig' %}
		{% include 'external-scripts.twig' %}
		{{ function('wp_footer') }}
	</body>
</html>