{# add external script calls here (Google Analytics / Hotjar / etc) #}
{% if fn('is_page', 87) %}
	{# css import #}
	<script type="text/javascript">
	var newStyle = document.createElement("link");
	newStyle.rel = "stylesheet";
	newStyle.href = "https://live.childcarecrm.com/form/v1.css";
	document.getElementsByTagName("head")[0].appendChild(newStyle);
	</script>

	{# js imports #}
	<script type="text/javascript" src="https://live.childcarecrm.com/form/v1.js"></script>
	<script type="text/javascript">
	var crmForm = new ChildCareCRM.Forms.Form({
	centerId: undefined,
	customerId: "ad0a64e4e9c5ce0ca0b3330281c1167a",
	formId: "B7DDDFCB-6C3E-D3B3-ABD5-0A7F3248EB03",
	selector: "#childcarecrm-tour-form" });
	crmForm.render();
	</script>
{% endif %}