<footer class="site-footer">
	{# setup Google Maps URLS #}
	{% set top_south_gmap = 'https://www.google.com/maps/dir//4600+S+Clifton+Ave,+Wichita,+KS+67216/@37.6075301,-97.2925201,18.47z/data=!4m8!4m7!1m0!1m5!1m1!1s0x87bae513f2b1e01d:0x5682381a5df9c083!2m2!1d' %}
	{% set top_north_gmap = 'https://www.google.com/maps/dir//2330+N+Opportunity+Dr,+Wichita,+KS+67219/@37.724941,-97.3089688,18.31z/data=!4m8!4m7!1m0!1m5!1m1!1s0x87bae25f4be38f35:0x6414f8cd119e1345!2m2!1d' %}
	{% set top_northwest_gmap = 'https://www.google.com/maps/dir//2665+N+Arkansas,+Wichita,+KS+67204/@37.7309591,-97.345327,18z/data=!4m8!4m7!1m0!1m5!1m1!1s0x87bae21929099849:0x59f6e6ce4d4e8b31!2m2!1d' %}

	<div class="desktop-flowers">
		{% include './static/images/sunflower.svg' %}
		{% include './static/images/red_flower.svg' %}
	</div>

	<section class="footer-nav">
		{{ fn('mod_render_footer_menu') }}
		{% include './components/social-icons.twig' %}
	</section>

	<section class="footer-locations">
		<div class="location">
			<span class="h4">TOP South</span>
			<p id="loc-info">
				<a href="{{ top_south_gmap }}" target="_blank" rel="noopener">{{ options.south_address }}</a><br/>
				<span class="half-top">General Assistance:</span><br/> <a href="tel:{{ options.south_phone_general }}">{{ options.south_phone_general }}</a><br/>
				<span class="half-top">Enrollment:</span><br/> <a href="tel:{{ options.south_phone_enrollment }}">{{ options.south_phone_enrollment }}</a>
			</p>
		</div>
		<div class="location">
			<span class="h4">TOP Northwest</span>
			<p id="loc-info">
				<a href="{{ top_northwest_gmap }}" target="_blank" rel="noopener">{{ options.northwest_address }}</a><br/>
				<span class="half-top">General Assistance:</span><br/> <a href="tel:{{ options.northwest_phone_general }}">{{ options.northwest_phone_general }}</a><br/>
				<span class="half-top">Enrollment:</span><br/> <a href="tel:{{ options.northwest_phone_enrollment }}">{{ options.northwest_phone_enrollment }}</a>
			</p>
		</div>
		<div class="location">
			<span class="h4">TOP North</span>
			<p id="loc-info">
				<a href="{{ top_north_gmap }}" target="_blank" rel="noopener">{{ options.north_address }}</a><br/>
				<span class="half-top">General Assistance:</span><br/> <a href="tel:{{ options.north_phone_general }}">{{ options.north_phone_general }}</a><br/>
				<span class="half-top">Enrollment:</span><br/> <a href="tel:{{ options.north_phone_enrollment }}">{{ options.north_phone_enrollment }}</a>
			</p>
		</div>
	</section>

	<div class="mobile-flowers">
		{% include './static/images/red_tulip.svg' %}
		{% include './static/images/sunflower.svg' %}
		{% include './static/images/red_flower.svg' %}
	</div>
</footer>