{% extends 'base.twig' %}

{% block content %}
<section class="cta-block">
	<h1 class="blue">{{ post.header_text }}</h1>
	<div class="cta-block__right">
		<p>{{ post.cta_message }}</p>
		<a class="editor-button-block__blue-pill-button" href="{{ post.cta_button_link }}">{{ post.cta_button_text }}</a><br/>
	</div>
</section>

<section class="grid-boxes">
	{% for point in post.get_field('main_points') %}
		{% if point.button_link %}
			<a class="grid-boxes__item" href="{{ point.button_link }}">
				<span class="point-header">{{ point.point_header }}</span>
				<span class="point-text">{{ point.bullet_point_text }}</span>
			</a>
		{% else %}
			<div class="grid-boxes__item">
				<span class="point-header">{{ point.point_header }}</span>
				<span class="point-text">{{ point.bullet_point_text }}</span>
			</div>
		{% endif %}
	{% endfor %}
</section>

<div class="svg-images">
	<div class="svg-images__balloons">
		{% include './static/images/red_balloon.svg' %}
		{% include './static/images/blue_balloon.svg' %}
	</div>
	{% include './static/images/tan-cloud.svg' %}
</div>

<section class="tour-block fadeout">
	<div class="tour-block__head">
		{% include './static/images/red_bird.svg' %}
		<h2 class="yellow">{{ post.section_header }}</h2>
		{% include './static/images/cloud_dotted.svg' %}
	</div>
	<div class="tour-block__content">
		<img src="{{ TimberImage( post.image_left ).src }}" alt="{{ TimberImage( post.image_left ).alt }}" />
		<div class="right-text">
			<p>{{ post.text_right }}</p>
			<a class="editor-button-block__red-pill-button" href="{{ post.tour_button_link }}">{{ post.tour_button_text }}</a>
			{% include './static/images/blue_bird.svg' %}
		</div>
	</div>
</section>

<section class="cost-help-boxes">
	<div class="cost-help-boxes__information">
		<div class="fadeout">
			<h2>{{ post.ch_left_header }}</h2>
			<p>{{ post.left_information_text }}</p>
			<a class="editor-button-block__white-teal-pill-button" href="{{ post.ch_button_link }}">{{ post.ch_button_text }}</a>
		</div>
	</div>
	<div class="cost-help-boxes__right-image">
		{% include './static/images/full_arc.svg' %}
		<img src="{{ TimberImage( post.ch_right_image ).src }}" alt="{{ TimberImage( post.ch_right_image ).alt }}" />
	</div>
</section>

<section class="community-block fadeout">
	<div class="community-images">
		<img class="vertical" src="{{ TimberImage( post.vertical_image_left ).src }}" alt="{{ TimberImage( post.vertical_image_left ).alt }}" />
		<div class="horizontal">
			<img class="" src="{{ TimberImage( post.horizontal_image_left ).src }}" alt="{{ TimberImage( post.horizontal_image_left ).alt }}" />
		</div>
	</div>
	<div class="community-text">
		<h2 class="green">{{ post.header_text_right }}</h2>
		<p>{{ post.info_text_right }}</p>
		<a class="editor-button-block__yellow-pill-button" href="{{ post.button_link_right }}">{{ post.button_text_right }}</a>
	</div>
</section>

<section class="testimonials fadeout">
	{% include './static/images/butterfly-outline.svg' %}
	{# grab reviews and display 1 at random on the homepage #}
	{% for t in testimonials %}
		<div class="review fadein">
			<p class="review-text">{{ t.review_text }}</p>
			<div class="review-split">
				{% if t.title or t.reviewers_position %}
					<div class="review-title">
						<p>{{ t.title }} &nbsp;&nbsp;|&nbsp;&nbsp; {{ t.reviewers_position }}</p>
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	{% include './static/images/butterfly.svg' %}
</section>

<section class="success-block">
	<div class="success-block__left">
		{% include './static/images/star-background.svg' %}
		<img src="{{ TimberImage( post.su_image_left ).src }}" alt="{{ TimberImage( post.su_image_left ).alt }}" />
	</div>
	<div class="success-block__right">
		<div class="fadeout">
			<h2>{{ post.su_header_right }}</h2>
			<p>{{ post.su_info_text }}</p>
			<a class="editor-button-block__white-orange-pill-button" href="{{ post.su_button_link }}">{{ post.su_button_text }}</a>
		</div>
	</div>
</section>
{% endblock %}