<section class="funnels">
	{% if post.count_funnel_sections == 'one' %}
		<div class="funnels--one">
			{% for section in post.get_field('funnel_sections') %}
				<div class="single-funnel">
					<h1>{{ section.funnel_heading }}</h1>
					<p>{{ section.funnel_message }}</p>
					<a class="editor-button-block__red-pill-button" href="{{ section.funnel_button_link.url }}">{{ section.funnel_button_text }}</a>
				</div>
			{% endfor %}
		</div>
	{% elseif post.count_funnel_sections == 'two' %}
		<div class="funnels--two">
			{% for section in post.get_field('funnel_sections') %}
				<div class="double-funnel">
					<h3>{{ section.funnel_heading }}</h3>
					<p>{{ section.funnel_message }}</p>
					<a class="editor-button-block__red-pill-button" href="{{ section.funnel_button_link.url }}">{{ section.funnel_button_text }}</a>
				</div>
			{% endfor %}
		</div>
	{% elseif post.count_funnel_sections == 'three' %}
		<div class="funnels--three">
			{% for section in post.get_field('funnel_sections') %}
				<div class="triple-funnel">
					<h3>{{ section.funnel_heading }}</h3>
					<p>{{ section.funnel_message }}</p>
					<a class="editor-button-block__red-pill-button" href="{{ section.funnel_button_link.url }}">{{ section.funnel_button_text }}</a>
				</div>
			{% endfor %}
		</div>
	{% elseif post.count_funnel_sections == 'four' %}
		<div class="funnels--four">
			{% for section in post.get_field('funnel_sections') %}
				<div class="quad-funnel">
					<h3>{{ section.funnel_heading }}</h3>
					<p>{{ section.funnel_message }}</p>
					<a class="editor-button-block__red-pill-button" href="{{ section.funnel_button_link.url }}">{{ section.funnel_button_text }}</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</section>