{% block navigation %}
<div class="nav-wrapper">
	<div class="logo-container">
		<a class="desktop-only" href="/">{% include './static/images/top-logo.svg' %}</a>
		<a class="mobile-only" href="/">{% include './static/images/top-logo-notext.svg' %}</a>

		<div id="menu-toggle" role="button" aria-label="Open Menu">
			<span class="x-bar" aria-hidden="true"></span>
			<span class="x-bar" aria-hidden="true"></span>
			<span class="x-bar" aria-hidden="true"></span>
		</div>
	</div>

	<div class="nav-container">
		<div class="contact-bar">
			<a href="tel:{{ options.primary_phone }}">{{ options.primary_phone }}</a> | 
			<a href="/contact">Contact</a>
		</div>
		<nav class="menu">{{ fn('mod_render_primary_menu') }}</nav>
	</div>
</div>

{# full page overlay nav - slides left to right #}
<div class="mobile-nav-wrapper">
	<div class="mobile-nav-container">
		<nav class="mobile-menu">{{ fn('mod_render_primary_menu') }}</nav>
		<a class="editor-button-block__red-pill-button" href="tel:{{ options.primary_phone }}">{{ options.primary_phone }}</a>
		<nav class="small-links">{{ fn('mod_render_footer_menu') }}</nav>
	</div>
</div>
{% endblock %}