{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	{{ post.content }}
</div>

{# 'Take a Tour' page #}
{% if fn('is_page', 87) %}
	<section class="locations">
		<div class="locations__grid">
			{% for loc in locations %}
				<div class="grid-item">
					<h2>{{ loc.title }}</h2>
					<img src="{{ TimberImage( loc.thumbnail ).src }}" alt="{{ TimberImage( loc.thumbnail ).alt }}" />
					<div>{{ loc.get_field('location_summary') }}</div>
					<a href="{{ loc.location_link }}" target="_blank" rel="noopener">
						<span class="fab fa-facebook"></span>
					</a>
				</div>
			{% endfor %}
		</div>
	</section>

	<div class="schedule-tour">
		<h2 class="blue">Schedule Your Tour</h2>
		<p>From the dropdown menu below, select the location you would like to tour and press the “Continue” button. Then, from the calendar, pick the date and time you would like to tour.</p>
		<div id="childcarecrm-tour-form">&nbsp;</div>
	</div>
{% endif %}

{# 'Contact' page #}
{% if fn('is_page', 26) %}
<div class="contact-form">
	<iframe id="crmform" src="https://live.childcarecrm.com/portal/index.php?formId=ad0a64e4e9c5ce0ca0b3330281c1167a" scrolling="no" width="600" height="1750"></iframe>
</div>
{% endif %}
{% endblock %}