.intro-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 50rem;
	padding: 4rem 2rem 0;
	@include bp(961px) { padding: 4rem 1rem 0; }
}

.locations {
	max-width: 100%;
	margin: 0 auto;
	padding: 6rem 2rem;
	background-color: #FFC629;
	@include bp(sm) { padding: 6rem 1rem; }

	&__grid {
		display: grid;
		max-width: 77rem;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 24rem));
		row-gap: 2rem;
		column-gap: 2rem;
		justify-content: center;
	}

	.grid-item {
		background-color: $white;
		padding: 2rem;
		text-align: center;

		// we only want the button centered
		h2, p, img { text-align: left; }

		h2 {
			color: $red;
			font-weight: 600; // semi-bold
			margin-bottom: 1.25rem;
		}

		p {
			font-family: $font;
		}

		img {
			display: block;
			margin: 0 auto 1.5rem;
			width: 20rem;
			max-height: 12rem;
		}

		.fa-facebook {
			font-size: 2rem;
			color: $blue;
			&:hover { color: $yellow; }
		}
	}
}