.site-footer {
	position: relative;
	background-color: $green;
	max-width: 100%;
	margin: 0 auto;
	padding: 5rem 1rem;
	overflow: hidden;

	.h4, p, a, span { color: $white; }
	a:hover { color: $light-black; }

	p, a, span:not(.h4) {
		line-height: 1.5;
		font-weight: 600;
	}

	// spans
	.half-top {
		display: inline-block;
		font-size: 0.9rem;
		margin-top: 1.25rem;
		text-transform: uppercase;
	}

	// dropdown styles
	.h4 {
		position: relative;

		@include mq($until: 700px) {
			&:after {
				display: inline-block;
				content: '\f078';
				position: relative;
				top: 0;
				right: -1rem;
				font-family: FontAwesome;
				font-size: 1rem;
				color: $white;
				font-weight: bold;
				transform: rotate(0);
				transition: 0.2s ease-out;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.footer-nav {
	display: flex;
	max-width: 55rem;
	margin: 0 auto 4rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include bp(484px) {
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto 7rem;
	}

	#footer-menu {
		display: flex;
		max-width: 30rem;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		@include bp(484px) {
			margin-right: 1.5rem;
			flex-direction: row;
			justify-content: space-between;
			text-align: left;
		}

		li {
			margin-bottom: 1rem;
			@include bp(484px) { margin-bottom: 0; }
		}

		a {
			font-size: 1.4rem; // match h4 style
			font-weight: 600; // semi-bold
			padding: 0.5rem;
		}
	}
}

.footer-locations {
	display: flex;
	max-width: 55rem;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	@include bp(700px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		text-align: left;
	}

	.location {
		margin-bottom: 2.5rem;
		&:last-of-type { margin-bottom: 0; }
		@include bp(700px) { margin-bottom: 0; }
	}
}

.mobile-flowers {
	position: relative;
	z-index: 1000;
	display: flex;
	justify-content: space-between;

	svg {
		position: relative;
		max-width: 6rem;
		bottom: -5.25rem; // to clip through bottom padding
	}

	// laptop+
	@include bp(1260px) {
		display: none;
	}
}

.desktop-flowers {
	display: none;

	@include bp(1260px) {
		display: block;
	}

	svg#sunflower {
		position: absolute;
		left: 1.5rem;
		bottom: -3rem;
		max-width: 10rem;
		@include bp(1400px) { max-width: 14rem; }
	}

	svg#red-flower {
		position: absolute;
		right: 1.5rem;
		bottom: 0;
		max-width: 7rem;
		@include bp(1400px) { max-width: 10rem; }
	}
}