// Gravity Forms Styles (global)
.gform_wrapper {
	font-family: $font;
	max-width: 45rem;

	label, legend { color: $light-black; }

	input, textarea {
		border: 2px solid $teal;
		border-radius: 5px;
		padding: 3px 8px;
		@include bp(642px) { padding: 8px; }
	}

	select {
		border: 2px solid $teal;
		border-radius: 5px;
		background-color: $white;
	}

	option { background-color: $white; }

	@include mq($until: 640px) {
		.gfield_list_group {
			border: 1px solid $blue;
			border-radius: 5px;
		}
	}

	.gfield_required.gfield_required_text { display: none; }

	.gform_button {
		padding: 0.5rem 1.25rem;
		font-weight: 600;
		background-color: darken($teal, 20%);
		color: $white;
		border: unset;
		border-radius: 25px;
		transition: 0.2s ease-out;
		line-height: 1.15;

		&:hover {
			cursor: pointer;
			background-color: darken($blue, 10%);
			transition: 0.2s ease-out;
		}
	}
}

.schedule-tour {
	max-width: 50rem;
	margin: 3rem auto;
}

.contact-form {
	max-width: 50rem;
	margin: 0 auto;

	#crmform {
		max-width: 40rem;
		margin: 0 auto;
		border: unset;
	}
}