// cta section
.cta-block {
	display: flex;
	max-width: 77rem;
	padding: 1rem 1.875rem 0;
	margin: 2rem auto 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include bp(sm) {
		padding: 1rem 1rem 0;
		margin: 4rem auto 0;
	}

	@include bp(980px) {
		flex-direction: row;
		justify-content: space-between;
	}

	h1 {
		font-size: 3.75rem;
		max-width: 43rem;
		margin-bottom: 1.75rem;
		@include bp(sm) { font-size: 4rem; }
		@include bp(980px) { margin-bottom: 0; }
		@include bp(md) { font-size: 4.5rem; }
	}

	p {
		color: $grey;
		max-width: 42.5rem;
		margin-bottom: 1.75rem;
		@include bp(980px) { max-width: 40rem; }
	}

	// no margin bottom for this block
	.editor-button-block__blue-pill-button { margin-bottom: 0; }
}

.svg-images {
	position: relative;
	max-width: 100%;
	margin: 0 auto 15rem;

	&__balloons {
		position: relative;
		max-width: 75rem;
		padding: 1rem 1rem 0;
		margin: 1rem auto 18rem;
		@include bp(sm) { margin: 1rem auto 0; }

		svg#blue-balloon {
			max-width: 6.5rem;
			top: 5rem;
			right: 25%;
			z-index: 10;

			@include bp(xs) {
				top: 2.5rem;
				right: 4rem;
			}
		}

		svg#red-balloon {
			max-width: 4rem;
			top: 4rem;
			right: 70%;
			transform: translateX(50%);
			z-index: 10;

			@include bp(xs) {
				top: 1rem;
				right: 12rem;
				transform: none;
			}
		}
	}

	svg {
		position: absolute;
		display: block;
	}

	svg#tan-cloud {
		display: none;
		top: 2rem;
		left: 0;
		max-width: 40rem;
		@include bp(xs) { display: block; }
	}
}

.tour-block {
	position: relative;
	max-width: 75rem;
	padding: 1rem 1.875rem;
	margin: 3rem auto 2rem;
	@include bp(sm) { padding: 1rem; }

	&__head {
		position: relative;
		max-width: 100%;

		svg#red-bird {
			display: none;
			position: absolute;
			left: 0;
			max-width: 8rem;
			@include bp(960px) { display: block; }
		}

		h2 {
			position: relative;
			z-index: 3;
			max-width: 40rem;
			margin: 0 auto;
			text-align: center;
			font-size: 3rem;
			@include bp(sm) { font-size: 4rem; }
		}

		svg#cloud-dot {
			position: absolute;
			top: -6.5rem;
			right: -6rem;
			max-width: 30rem;
			z-index: 1;
		}

		svg#cloud-dot circle.cls-3 { fill: $cream !important; }
	} // head

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 75rem;
		margin: 2rem auto 0;

		@include bp(sm) { margin: 5rem auto 0; }

		@include bp(990px) {
			justify-content: space-between;
			flex-direction: row;
		}

		img {
			max-width: 38rem;
			width: 100%;
			margin-bottom: 1.15rem;
			@include bp(990px) { margin-bottom: 0; }
		}

		.right-text {
			position: relative;
			@include bp(990px) { margin-left: 1rem; }

			p {
				color: $grey;
				max-width: 38rem;
				@include bp(990px) { max-width: 30rem; }
			}

			svg#blue-bird {
				display: none;
				position: absolute;
				bottom: 1rem;
				right: -3rem;
				max-width: 15rem;
				@include bp(1056px) { display: block; }
			}

			a {
				@include bp(1056px) {
					margin-top: 4rem;
					margin-left: 2.5rem;
				}
			}
		}
	}
}

.cost-help-boxes {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: $yellow;

	&__information {
		position: relative;
		padding: 3rem 1.875rem;
		z-index: 2;
		width: 100%;
		background-color: $yellow;
		text-align: center;
		@include bp(sm) { padding: 7rem 1rem; }

		@include bp(980px) {
			width: 50%;
			margin-right: auto;
		}

		h2 {
			max-width: 25rem;
			margin: 0 auto 2rem !important;
			font-size: 3rem;
			color: $darker-grey;
			@include bp(sm) { font-size: 3.75rem; }
		}

		p {
			color: $darker-grey;
			max-width: 31rem;
			margin: 0 auto 2rem;
		}

		.editor-button-block__white-teal-pill-button { margin-bottom: 0; }
	}

	&__right-image {
		position: relative;
		width: 100%;
		padding: 7rem 1.875rem;
		text-align: center;
		background-color: $teal;
		min-height: 50vh;

		@include bp(980px) {
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
		}

		svg {
			display: block;
			max-width: 75rem;
			width: 105%;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 3;
		}

		img {
			position: relative;
			z-index: 10;
			max-width: 22rem;
			width: 100%;

			@include bp(980px) {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.testimonials {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	background-color: $cream;
	padding: 1rem 1.875rem 2rem;
	@include bp(sm) { padding: 5rem 0; }

	svg { position: absolute; }

	svg#butterfly-outline {
		right: -5rem;
		max-width: 30rem;
		stroke: $white;
	}

	svg#butterfly {
		display: none;
		left: 4rem;
		bottom: 3.5rem; // keep inside container
		max-width: 20rem;
		@include bp(1180px) { display: block; }
	}

	.review {
		.review-text {
			position: relative;
			z-index: 5; // stays on top of butterfly outline
			padding: 3rem 0;
			font-size: 1.4rem;
			color: $red;
			letter-spacing: 1px;
			max-width: 62rem;
			text-align: center;
			margin: 0 auto;
			line-height: 1.6;

			@include bp(xs) {
				padding: 3rem 1rem;
				font-size: 1.8rem;
			}

			@include bp(sm) {
				background-image: url('./static/images/quotes.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}

		.review-split {
			position: relative;
			max-width: 38rem;
			margin: 1rem auto 0;
			z-index: 5;
			text-align: center;

			p { font-weight: 700; }
		}
	}
}

.community-block {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	max-width: 75rem;
	margin: 5rem auto 9rem;
	justify-content: center;
	align-items: center;

	@include bp(1000px) {
		flex-direction: row;
		justify-content: space-between;
	}

	.community-images {
		position: relative;
		width: 100%;
		padding: 0 2.15rem;
		@include bp(1000px) { width: 50%; }

		.vertical { height: 30rem; }

		.horizontal {
			position: absolute;
			max-width: 22rem;
			left: 16rem;
			bottom: -3rem;
			padding: 0;

			img {
				max-width: 18rem;
				height: auto;
				display: block;
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-left: 5px dotted $orange;
				border-bottom: 5px dotted $orange;
				box-sizing: border-box;
				transform: translate(-20px,20px);
			}

			&:after {
				top: 0px;
				left: 10px;
				right: 0px;
				bottom:10px;
			}
		}
	}

	.community-text {
		text-align: center;
		padding: 0 2.15rem;
		width: 100%;
		margin-bottom: 3rem;
		@include bp(1000px) { width: 50%; margin-bottom: 0; }

		h2 {
			max-width: 30rem;
			text-align: center;
			font-size: 3rem;
			margin: 0 auto 2rem;
			@include bp(sm) { font-size: 4rem; }
		}

		p {
			max-width: 25rem;
			margin: 0 auto 2rem;
		}

		.editor-button-block__yellow-pill-button { margin-bottom: 0; }
	}
}

.success-block {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;

	@include bp(980px) {
		flex-direction: row;
		justify-content: center;
		align-items: initial; // reset alignment
	}

	&__left {
		position: relative;
		width: 100%;
		background-color: $yellow;
		overflow: hidden;
		height: 32rem;
		@include bp(980px) { width: 50%; height: unset; }

		// large centered svg
		svg {
			position: absolute;
			display: block;
			top: 50%;
			transform: translateY(-50%);
			left: -14rem;
			width: 68rem;

			@include bp(980px) {
				left: -5rem;
				width: 80rem;
			}

			@include bp(2600px) { left: -1rem; } // XXL displays (unlikely size - TV+)
		}

		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			max-width: 30rem;
			width: 100%;
			padding: 0 1rem;
			z-index: 10;
			@include bp(980px) { padding: unset; }
		}
	}

	&__right {
		position: relative;
		width: 100%;
		background-color: $teal;
		padding: 3rem;
		@include bp(sm) { padding: 8rem 3rem; }
		@include bp(980px) { width: 50%; }

		h2 {
			max-width: 33rem;
			color: $white;
			text-align: center;
			margin: 0 auto;
			font-size: 3rem;
			@include bp(sm) { font-size: 3.75rem; }
		}

		p {
			color: $white;
			max-width: 25rem;
			margin: 3rem auto;
		}

		a {
			display: block;
		}
	}
}