* { box-sizing: border-box; }
html { font-size: 16px; } // 16px = 1rem

html, body {
	// font antialiasing
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	// global line-height
	line-height: 1.5;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
}

// base image setup
img {
	max-width: 100%;
	height: auto;
}

// sitewide placeholder for forms
::placeholder {
	color: $light-black;
	opacity: 0.7;
}