.duo-tone-bar {
	position: fixed;
	z-index: 250;
	width: 100%;
	padding: 0.75rem;
	background: linear-gradient(to right, $yellow 50%, $teal 50%);
	@include bp(961px) { position: relative; }
}

.header {
	position: relative;
	max-width: 100%;
	margin: 3rem auto 1.5rem;
	background-color: $cream;
	padding: 0 2rem 0;
	@include bp(sm) { padding: 1rem 1rem 0; }
	@include bp(960px) { margin: 0 auto 1.5rem; }

	&__content {
		display: flex;
		position: relative;
		max-width: 75rem;
		margin: 2rem auto 0;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		@include bp(md) {
			justify-content: space-between;
			flex-direction: row;
		}

		// default page header //
		.header-text, div {
			width: 100%;
			@include bp(md) { width: 50%; }
		}

		span {
			display: block;
			font-size: 1rem;
			font-weight: 700;
			color: $orange;
			text-align: left;
			margin-bottom: 0.5rem;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		.header-text {
			position: relative;
			top: -1.5rem;
			margin-top: 1.5rem;
			font-size: 2.5rem;
			font-weight: 700;
			color: $orange;

			@include bp(md) {
				max-width: 35rem;
				font-size: 4rem;
			}
		}

		// background image container
		div {
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 20rem;
			@include bp(md) { height: 25rem; }

			svg#cloud-white {
				position: absolute;
				right: -3rem;
				bottom: -1px;
				max-width: 15rem;
				@include bp(sm) { max-width: 25rem; }
			}
	
			svg#cloud-one {
				position: absolute;
				bottom: 6rem;
				left: -6rem;
				max-width: 20rem;
				@include bp(sm) { max-width: 20rem; }
			}
	
			svg#cloud-dot {
				position: absolute;
				top: 0;
				right: 3rem;
				max-width: 20rem;
	
				@include bp(sm) {
					top: -6rem;
					right: 7rem;
					max-width: 25rem;
				}
			}
		}

		&--no-image {
			display: block;
			max-width: 50rem;
			margin: 3rem auto;

			span {
				display: block;
				font-size: 1rem;
				font-weight: 700;
				color: $orange;
				text-align: center;
				margin-bottom: 0.5rem;
				letter-spacing: 2px;
				text-transform: uppercase;
			}

			.header-text {
				margin-top: 1.5rem;
				padding-bottom: 3rem;
				font-size: 2.5rem;
				font-weight: 700;
				color: $orange;
				text-align: center;

				@include bp(sm) { font-size: 4rem; }
	
				@include bp(md) {
					font-size: 4rem;
					margin-top: 0;
				}
			}
		}
	}
}

.home-header {
	.header__content {
		display: block;
		padding: 12rem 1rem;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		svg#cloud-white {
			position: absolute;
			right: -3rem;
			bottom: -1px;
			max-width: 20rem;
			@include bp(sm) { max-width: 40rem; }
		}

		svg#cloud-one {
			position: absolute;
			bottom: 6rem;
			left: -6rem;
			max-width: 20rem;

			@include bp(sm) {
				max-width: 30rem;
			}
		}

		svg#cloud-dot {
			position: absolute;
			top: 0;
			right: 3rem;
			max-width: 20rem;

			@include bp(sm) {
				top: -6rem;
				right: 7rem;
				max-width: 25rem;
			}
		}
	}
}