// global nav setup
#menu-toggle { display: none; }

.nav-wrapper {
	position: relative;
	display: flex;
	max-width: 75rem;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li { margin-bottom: 0; }
	}
}

.logo-container {
	.desktop-only {
		display: none;
		@include bp(960px) { display: block; }
		svg { max-width: 14rem; width: 100%; }
	}

	.mobile-only {
		display: block;
		@include bp(960px) { display: none; }
		svg { max-width: 3.5rem; width: 100%; }
	}
}

// Laptop+ only styles
@include mq($from: 960px) {
	.contact-bar {
		position: relative;
		left: 59%;
		margin-bottom: 0.75rem;
		color: $orange;
		font-weight: bold;

		a {
			color: $orange;
			font-weight: bold;
			font-size: 1rem;
			letter-spacing: 1px;
			&:first-of-type { margin-right: 0.5rem; }
			&:last-of-type { margin-left: 0.5rem; }
		}
	}

	.mobile-nav-wrapper {
		display: none;
	}

	.nav-container .menu {
		display: flex;
		justify-content: space-between;
		max-width: 100%;
		width: 35rem;

		.current-menu-item > a {
			color: $orange;
		}

		.menu-item-has-children {
			position: relative;

			.sub-menu {
				position: absolute;
				opacity: 0;
				background-color: $white;
				left: 50%;
				transform: translateX(-50%);
				transition: opacity 0.1s ease-out;
				width: 11rem;
				padding: 2rem;
				z-index: 90;
				text-align: center;
				box-shadow: 0 0 5px -4px $light-black;
				border-radius: 5px;
			}

			&:hover {
				.sub-menu {
					opacity: 1;
					transition: opacity 0.1s ease-out;

					li {
						margin-bottom: 1.5rem;
						&:last-of-type { margin-bottom: 0; }
					}

					a { font-weight: 600; }
				}
			}
		}

		a {
			font-size: 1.1rem;
			&:hover { color: $orange; }
		}
	}
}

// mobile+ until laptop - min styles
@include mq($until: 960px) {
	.logo-container {
		position: fixed;
		top: 1.5rem;
		left: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 100%;
		align-items: center;
		z-index: 200;
		background-color: $cream;
		padding: 0.5rem 2.1rem 0.2rem 2.1rem;

		@include bp(sm) {
			left: 0;
			padding: 1rem 2.1rem 1rem 1rem;
		}
	}

	.nav-container { display: none; }

	#menu-toggle { display: block; }

	.mobile-nav-wrapper {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		bottom: 0;
		left: 0;
		transform: translateX(100%);
		text-align: left;
		z-index: 100; // ensure this is the top-most element in the stacking context
		background-color: $cream;
		transition: transform 0.3s ease-in;
		overflow: scroll; // for screens that are not tall

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li { margin-bottom: 0; }
		}

		.mobile-nav-container {
			margin-top: 7.5rem;
			margin-left: 1.75rem;
			overflow-x: hidden;
		}

		li:not(.sub-menu li) {
			margin-bottom: 1.5rem;

			// add space between menu items and those with children
			ul {
				position: relative;
				margin-top: 1.25rem;
				min-height: 0;
			}
		}

		a {
			display: inline-block;
			color: $red;
			font-size: 1.5rem;
			padding: 0.5rem;
			width: 100%;
			letter-spacing: 1px;
		}

		// custom dropdown section for menu items with children links
		.menu-item-has-children {
			position: relative;

			> a {
				position: relative;
				width: 100%;

				// apply chevron
				&:after {
					content: '\f078';
					position: absolute;
					top: 0.75rem;
					right: 2.6rem;
					font-family: FontAwesome;
					font-size: 1rem;
					color: $red;
					font-weight: bold;
					transition: 0.2s ease-out;
					transform: rotate(0);
				}

				&:hover { cursor: pointer; }
			}

			// sub-menu styles (&:first)
			> .sub-menu {
				position: relative;
				bottom: 0.5rem;
				left: 0.5rem;

				li {
					padding-bottom: 1rem;
				}

				li:last-of-type {
					padding-bottom: 0;
				}

				a {
					font-weight: 600;
					font-size: 1.1rem;
				}
			}
		}
	}

	.sub-menu {
		display: none;
	}

	.mobile-nav-open {
		display: block;
		transform: translateX(0);
		transition: transform 0.3s ease-in;

		.editor-button-block__red-pill-button {
			max-width: 14rem;
			margin-bottom: 1.4rem;
		}

		// added footer menu to main nav section
		#footer-menu {
			li {
				margin-bottom: 0.5rem;
				
				a {
					font-size: 1.1rem;
					font-weight: 600;
				}
			}
		}
	}
}