// core font setup
a, p, span, address, table, td,
small, time, ol, ul, li {
	font-family: $font;
	font-weight: 500;
	color: $grey;
	line-height: 1.5;

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums; // fallback for IE
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari 
	font-feature-settings: "lnum" 1; // standard for browsers (last 5 versions as of Jan 12, 2021)
}

a, p, ul, ol, span {
	font-size: 1rem;
	line-height: 1.7;
}

a {
	text-decoration: none;
	transition: 0.1s ease-out;

	&:hover {
		transition: 0.1s ease-out;
		text-decoration: none;
	}
}

p {
	margin-top: 0;
	margin-bottom: 1.15rem;
}

ul {
	margin-top: 0;

	li {
		font-size: 1rem;
		color: $darker-grey;
		margin-bottom: 0.5rem;
	}
}

// base table heading styles
table tr th {
	font-size: 1rem; // 16px
	padding: 0.2rem;
}

// base table body styles
table tr td {
	font-size: 0.9375rem; // 15px
	padding: 0.2rem;
}

small {
	font-size: 0.875rem; // 14px
	font-style: italic;
}

time {
	display: block;
	padding-bottom: 0.75rem;
	font-size: 0.875rem; // 14px
}

// core heading styles
h1, h2, h3,
h4, h5, h6, .h4 {
	display: block;
	margin-top: 0;
	font-family: $font;
	font-weight: 700;
	line-height: 1.1;
	color: $light-black;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

h1 {
	font-size: 2rem; // 32px
	@include bp(sm) { font-size: 2.5rem; } // 40px
	@include bp(md) { font-size: 3rem; } // 48px
}

h2 {
	font-size: 1.75rem; // 28px
	@include bp(xs) { font-size: 1.875rem; } // 32px
	@include bp(sm) { font-size: 2.25rem; } // 36px
}

h3 {
	font-size: 1.5rem; // 24px
	@include bp(sm) { font-size: 1.75rem; } // 28px
}

h4, .h4 {
	font-size: 1.25rem; // 18px
	font-weight: 700;
}

h5 {
	font-size: 1rem; // 16px
}

h6 {
	font-size: 0.9375rem; // 15px
}