// core site wrapper
.main-post-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.content-block {
	max-width: 42rem; // 0rem;
	margin: 2rem auto;
	padding: 1rem 2rem;

	ul li {
		font-weight: 500;
		color: $grey;
	}

	p a, li a, table a {
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}

// on the 50/50 block and used elsewhere
.small-header {
	display: block;
	font-size: 1rem;
	font-weight: 700;
	color: $darker-grey;
	text-align: center;
	margin-bottom: 0.5rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

// base link styles
.plain-link {
	color: $light-black;
	font-family: $font;
	font-weight: 600;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

// unset ugly standard button styles
button {
	background: unset;
	border: unset;
	&:hover { cursor: pointer; }
}

.wp-block-embed__wrapper {
	text-align: center;

	iframe {
		max-width: 40rem;
		width: 100%;
		height: 20rem;
		@include bp(sm) { height: 22.5rem; }
	}
}

// uses js to fade in elements on scroll
.fadeout {
	opacity: 0;
}

.fadein {
	opacity: 1;
	transition: opacity 0.75s;
}

// added when notice banner is active on mobile
.adjust-top {
	position: relative !important;
	padding: 1rem 0 !important;
}

.adjust-wrap {
	position: unset !important;
}

.chevron-rotate:after {
	transform: rotate(180deg) !important;
	transition: 0.2s ease-out;
}

.close-notice {
	color: $white;
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	font-size: 2rem;
	font-weight: bold;
}

// quick helper classes
.semibold { font-weight: 600; }
.bold { font-weight: 700; }
.italic { font-style: italic; }
.light-black { color: $light-black; }
.center { text-align: center; }
.white { color: $white; }
.black { color: $black; }
.yellow { color: $yellow; }
.orange { color: $orange; }
.green { color: $green; }
.blue { color: $blue; }