// Basic Colors
$black: #000;
$white: #fff;
$light-black: #3E3E3E; // ADA (AAA) compliant "smoke" color (soft black)

// Base Theme Colors
$red: #DE3F49;
$green: #8AAD46;
$blue: #5C86C0;
$yellow: #F9BF3E;
$orange: #F89E29;
$teal: #87B7B4;
$light-grey: #7C766E;
$cream: #F6F1E7;

// ADA (AA) Compliant Color Swaps (https://webaim.org/resources/contrastchecker/)
$alt-blue: #4776B8; // Blue text on white
$darker-grey: #424242; // Dark grey for yellow background
$grey: #757575; // Grey for white background
$dark-red: #D1232F; // Dark red for cream-colored backgrounds

// Fonts
$font: 'Montserrat', sans-serif;

// Mixins
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}

// Jay Walter - Spacing Mixin
@mixin spacing( $prop, $factor: 1 ) {
	#{$prop}: 120px * $factor;
	@include desktop() {
		@if str-index($prop, 'top') or str-index($prop, 'bottom') or str-index($prop, '-y') {
			#{$prop}: 120px * $factor;
		} @else {
			#{$prop}: 80px * $factor;
		}
	}
	@include laptop() {
		@if str-index($prop, 'top') or str-index($prop, 'bottom') or str-index($prop, '-y') {
			#{$prop}: 90px * $factor;
		} @else {
			#{$prop}: 60px * $factor;
		}
	}
	@include mobile() {
		@if str-index($prop, 'top') or str-index($prop, 'bottom') or str-index($prop, '-y') {
			#{$prop}: 80px * $factor;
		} @else {
			#{$prop}: 50px * $factor;
		}
	}
	@include phone() {
		@if str-index($prop, 'top') or str-index($prop, 'bottom') or str-index($prop, '-y') {
			#{$prop}: 80px * $factor;
		} @else {
			#{$prop}: 30px * $factor;
		}
	}
}