{# dynamic social icon row (shrinks/expands) #}
<div class="social-icon-component">
	{% if options.facebook_link %}
		<a class="icon" href="{{ options.facebook_link }}" target="_blank" rel="noopener">
			<span class="fab fa-facebook"></span>
		</a>
	{% endif %}

	{% if options.twitter_link %}
		<a class="icon" href="{{ options.twitter_link }}" target="_blank" rel="noopener">
			<span class="fab fa-twitter"></span>
		</a>
	{% endif %}

	{% if options.instagram_link %}
		<a class="icon" href="{{ options.instagram_link }}" target="_blank" rel="noopener">
			<span class="fab fa-instagram"></span>
		</a>
	{% endif %}

	{% if options.youtube_link %}
		<a class="icon" href="{{ options.youtube_link }}" target="_blank" rel="noopener">
			<span class="fab fa-youtube"></span>
		</a>
	{% endif %}

	{% if options.vimeo_link %}
		<a class="icon" href="{{ options.vimeo_link }}" target="_blank" rel="noopener">
			<span class="fab fa-vimeo-v"></span>
		</a>
	{% endif %}

	{% if options.twitch_link %}
		<a class="icon" href="{{ options.twitch_link }}" target="_blank" rel="noopener">
			<span class="fab fa-twitch"></span>
		</a>
	{% endif %}

	{% if options.yelp_link %}
		<a class="icon" href="{{ options.yelp_link }}" target="_blank" rel="noopener">
			<span class="fab fa-yelp"></span>
		</a>
	{% endif %}

	{% if options.linkedin_link %}
		<a class="icon" href="{{ options.linkedin_link }}" target="_blank" rel="noopener">
			<span class="fab fa-linkedin-in"></span>
		</a>
	{% endif %}

	{% if options.tumblr_link %}
		<a class="icon" href="{{ options.tumblr_link }}" target="_blank" rel="noopener">
			<span class="fab fa-tumblr-square"></span>
		</a>
	{% endif %}

	{% if options.flickr_link %}
		<a class="icon" href="{{ options.flickr_link }}" target="_blank" rel="noopener">
			<span class="fab fa-flickr"></span>
		</a>
	{% endif %}

	{% if options.pinterest_link %}
		<a class="icon" href="{{ options.pinterest_link }}" target="_blank" rel="noopener">
			<span class="fab fa-pinterest"></span>
		</a>
	{% endif %}

	{% if options.snapchat_link %}
		<a class="icon" href="{{ options.snapchat_link }}" target="_blank" rel="noopener">
			<span class="fab fa-snapchat-ghost"></span>
		</a>
	{% endif %}

	{% if options.reddit_link %}
		<a class="icon" href="{{ options.reddit_link }}" target="_blank" rel="noopener">
			<span class="fab fa-reddit"></span>
		</a>
	{% endif %}
</div>