// custom button blocks
.editor-button-block {
	display: inline-block;
	margin-bottom: 2.75rem;
	font-family: $font;
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
	line-height: 1.2;

	&__blue-pill-button,
	&__red-pill-button,
	&__yellow-pill-button,
	&__white-teal-pill-button,
	&__white-orange-pill-button,
	&__orange-pill-button,
	&__teal-pill-button,
	&__pill-button {
		@extend .editor-button-block;
		border-radius: 1.4rem;
		padding: 0.65rem 1.5rem;
		text-transform: uppercase;
		font-size: 0.875rem;
		letter-spacing: 1px;
		font-weight: 700;

		@include bp(xs) {
			font-size: 1rem;
			padding: 0.75rem 2rem;
			letter-spacing: 2px;
		}
	}

	&__blue-pill-button {
		color: $white;
		background-color: $blue;
		&:hover { background-color: $yellow; }
	}

	&__red-pill-button {
		color: $white;
		background-color: $red;
		&:hover { background-color: $green; }
	}

	&__yellow-pill-button {
		color: $white;
		background-color: $yellow;
		&:hover { background-color: $blue; }
	}

	&__orange-pill-button {
		color: $white;
		background-color: $orange;
		&:hover { background-color: $yellow; }
	}

	&__teal-pill-button {
		color: $white;
		background-color: $teal;
		&:hover { background-color: #4f7573; }
	}

	&__white-teal-pill-button {
		color: $teal;
		background-color: $white;

		&:hover {
			color: $white;
			background-color: $teal;
		}
	}

	&__white-orange-pill-button {
		color: $orange;
		background-color: $white;

		&:hover {
			color: $white;
			background-color: $orange;
		}
	}
}