// These control the custom color palette options
$colors:
(grey, #757575),
(red, #DE3F49),
(green, #8AAD46),
(blue, #5C86C0),
(yellow, #F9BF3E),
(orange, #F89E29),
(teal, #87B7B4),
(cream, #F6F1E7),
(dark-grey, #424242);

// color setup for background and text colors
@each $name, $color in $colors {
	.has-#{$name}-color { color: $color; }
	.has-#{$name}-background-color { background-color: $color; }
}

// default editor button (modifiable colors)
.editor-button-block__pill-button {
	&:not(.has-text-color) {
		color: $white;
		&:hover { color: $white; }
	}

	&:not(.has-background) {
		$def: nth(nth($colors, 4), 2);
		background-color: $def;

		&:hover { background-color: darken($def, 20%);}
	}

	@each $name, $color in $colors {
		&.has-#{$name}-color:hover {
			color: $color;
		}

		&.has-#{$name}-background-color  { background-color: darken($color, 20%); }
	}
}