.standard-dropdown-container {
	max-width: 73rem;
	margin: 0 auto;

	.dropdown-block-title {
		display: block;
		position: relative;
		padding-top: 1rem;
		color: $light-black;
		font-weight: bold;
		font-family: $font;
		font-size: 1rem;
		padding-left: 2rem;

		&:hover { cursor: pointer; }

		&:before {
			display: inline-block;
			content: '+';
			position: absolute;
			top: 0.8rem;
			left: 0;
			font-size: 1.2rem;
			font-weight: bold;
			font-family: FontAwesome;
			transition: 0.3s ease-out;
		}
	}

	// remove border when expanded
	.remove-border {
		transition: 0.1s ease-in;
	}

	.chevron-rotate:before {
		transform: rotate(45deg);
	}
}

.standard-dropdown-container + .standard-dropdown-container {
	border-top: 1px solid #e5e5e5;
}