.fifty-fifty, .fifty-fifty-star {
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin: 0 -50vw;
	overflow: hidden;
	background-color: $yellow;

	&__information {
		position: relative;
		padding: 3rem 1.875rem;
		z-index: 2;
		width: 100%;
		background-color: $yellow;
		text-align: center;
		@include bp(sm) { padding: 5rem 1rem; }

		@include bp(980px) {
			width: 50%;
			margin-right: auto;
		}

		h2 {
			max-width: 25rem;
			margin: 0 auto 2rem !important;
			font-size: 3rem;
			color: $darker-grey;
			@include bp(sm) { font-size: 3.75rem; }
		}

		p {
			color: $darker-grey;
			max-width: 31rem;
			margin: 0 auto 2rem;
		}

		.editor-button-block__white-teal-pill-button { margin-bottom: 0; }
	}

	&__image {
		position: relative;
		width: 100%;
		padding: 7rem 1.875rem;
		text-align: center;
		background-color: $teal;
		min-height: 50vh;

		@include bp(980px) {
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
		}

		svg {
			display: block;
			max-width: 75rem;
			width: 105%;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 3;
		}

		img {
			position: relative;
			z-index: 10;
			max-width: 30rem;
			width: 100%;

			@include bp(980px) {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

// changes for the star background (left image)
.fifty-fifty-star {
	&__information {
		background-color: $teal;

		@include bp(980px) {
			width: 50%;
			margin-left: auto;
			margin-right: unset;
		}
	}

	&__image {
		background-color: $yellow;

		@include bp(980px) {
			position: absolute;
			top: 0;
			left: 0;
			right: unset;
			width: 50%;
			height: 100%;
		}

		// large centered svg
		svg {
			position: absolute;
			display: block;
			top: 50%;
			right: unset;
			bottom: unset;
			left: -14rem;
			transform: translateY(-50%);
			width: 68rem;
			z-index: 1;

			@include bp(980px) {
				left: -5rem;
				width: 80rem;
			}

			@include bp(2600px) { left: -1rem; } // XXL displays (unlikely size - TV+)
		}
	}
}