.testimonial-block {
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin: 0 -50vw;
	background-color: $cream;
	padding: 1rem 1.875rem 2rem;
	@include bp(sm) { padding: 5rem 0; }

	svg { position: absolute; }

	svg#butterfly-outline {
		right: -5rem;
		max-width: 30rem;
		stroke: $white;
	}

	svg#butterfly {
		display: none;
		left: 4rem;
		bottom: 3.5rem; // keep inside container
		max-width: 20rem;
		@include bp(1180px) { display: block; }
	}

	.review {
		.review-text {
			position: relative;
			z-index: 5; // stays on top of butterfly outline
			padding: 3rem 0;
			font-size: 1.4rem;
			color: $red;
			letter-spacing: 1px;
			max-width: 62rem;
			text-align: center;
			margin: 0 auto;
			line-height: 1.6;

			@include bp(xs) {
				padding: 3rem 1rem;
				font-size: 1.8rem;
			}

			@include bp(sm) {
				background-image: url('./static/images/quotes.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}

		.review-split {
			position: relative;
			max-width: 38rem;
			margin: 1rem auto 0;
			z-index: 5;
			text-align: center;

			p { font-weight: 700; }
		}
	}
}