.funnels {
	max-width: 100%;
	padding: 3.5rem 2rem 4rem;
	margin: 0 auto;
	background-color: $cream;

	h1, h2, h3 { color: $red; }

	h2 {
		max-width: 25rem;
		margin: 0 auto;
	}

	p { color: $grey; }

	.editor-button-block__red-pill-button {
		margin-bottom: 0;
	}

	&--one {
		max-width: 50rem;
		text-align: center;
		margin: 0 auto;
	}

	&--two,
	&--three,
	&--four {
		display: flex;
		max-width: 75rem;
		margin: 0 auto;
		padding: 0 1rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(sm) {
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.double-funnel {
			width: 50%;
			text-align: center;
		}

		.triple-funnel {
			width: 33.3333%;
			text-align: center;
		}

		.quad-funnel {
			width: 25%;
			text-align: center;
		}

		@include mq($until: 769px) {
			.double-funnel,
			.triple-funnel,
			.quad-funnel {
				width: 100%;
				margin-bottom: 5rem;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}