.grid-wrap {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin: 0 -50vw;
}

.grid-boxes {
	display: flex;
	max-width: 75rem;
	margin: 3rem auto 2rem;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	&__item {
		width: 15rem;
		text-align: center;
		padding: 1rem;

		.point-header, .point-text {
			display: block;
		}

		.point-header {
			font-size: 1.2rem;
			font-weight: bold;
			color: $orange;
			margin-bottom: 0.75rem;
		}

		.point-text {
			font-size: 1rem;
			margin-bottom: 0;
		}
	}
}